[2019-07-07 02:34] ened opened #1 "Support partial wake locks on Android"
This plugin should probably support partial wake locks (CPU only) and full wake locks (including screen) wake locks on Android.

[2019-07-07 11:38] creativecreatorormaybenot commented on #1
@ened I will look into it. I will probably implement it, however, do you know if Flutter apps can make use of CPU wake locks?

[2019-07-07 13:48] creativecreatorormaybenot opened #3 "Add integration tests & CI"
To ensure that the plugin code works on both iOS and Android, integration tests that are tested on both platforms should be added.

[2019-07-07 16:31] #3 closed

[2019-07-07 17:09] creativecreatorormaybenot opened #4 "Use master channel in CI"
CI currently uses the `v1.7.11` pre-compiled dev channel build.
However, it would be easier to maintain if it simply used the master channel (`git clone -b master https://github.com/flutter/flutter.git`).

[2019-07-07 17:29] creativecreatorormaybenot opened #5 "Fix Android CI build"
As you can [see here](https://travis-ci.com/creativecreatorormaybenot/wakelock/jobs/213817075), the iOS integration test is successful, however, the Android setup times out.
Thus, I removed Android from CI for now.

Android should be included in CI.
Additionally, the Travis CI scripts should be improved in general, e.g. not using `travis_retry`.

[2019-07-07 20:45] #4 closed

[2019-07-08 07:57] creativecreatorormaybenot commented on #5
[This](https://docs.travis-ci.com/user/languages/android/) could be useful if it works for Flutter projects.

[2019-07-08 11:41] #5 closed

[2019-07-09 11:24] creativecreatorormaybenot opened #6 "Add formatting to CI"
Format Dart code using `flutter format . --set-exit-if-changed --fix`.

[2019-07-09 11:26] creativecreatorormaybenot opened #7 "Analyze Dart code in CI"
Use `flutter analyze`.

[2019-07-09 11:36] #6 closed

[2019-07-09 11:39] #7 closed

[2019-07-13 10:16] creativecreatorormaybenot commented on #1
@ened Do you have an example of this?
Otherwise, I think that I might close this for now as it seems like it would add unnecessary weight to the plugin.

[2019-08-12 07:54] ened commented on #1
Hi @creativecreatorormaybenot , sorry for the late response. More details are available here: https://developer.android.com/training/scheduling/wakelock

[2019-08-12 17:27] creativecreatorormaybenot commented on #1
@ened Yes, I am aware of that (see #2). I mean how do you use this in a Flutter app? If you are adding native code to handle background execution anyway, it does not seem to make too much sense to add a method call to Flutter, does it?

[2019-08-12 17:44] ened commented on #1
It is useful when running flutter isolates in the background, like in a Service object on Android for example.

[2019-08-12 17:48] creativecreatorormaybenot commented on #1
@ened Can you link to a resource showing an implementation? I think that the android alarm manager plugin can do this, but I feel that it is not optimal to make this plugin bigger to add a feature that can only be used when installing another plugin.

[2019-08-13 16:44] #1 closed

[2019-09-10 17:15] jcairo opened #8 "Wakelock is not ARMV7"
When building ios for release (flutter build ios) I receive a message 'wakelock.framework/wakelock is not armv7'

Is there an easy fix for this?

[2019-09-11 07:02] creativecreatorormaybenot commented on #8
I am not sure if this is an issue with the `wakelock` plugin. You might want to take a look and read through https://github.com/flutter/flutter/issues/2089 or do you know about a potential source for this issue in the plugin?

[2019-09-11 15:29] jcairo commented on #8
Apologies, this does not appear to be a problem with wakelock after all.

[2019-09-11 15:29] #8 closed

[2019-09-18 00:20] creativecreatorormaybenot opened #9 "GitHub Actions"
Use GitHub Actions to run Flutter analysis, formatting, unit tests, and integration tests instead of Travis CI with the next update to the plugin or as soon as GitHub Actions is out of beta.

[2019-09-25 03:08] shaxxx opened #10 "Update Android project to AndroidX"
Google Play is now forcing developer to use new Google Play API 3.
Can you please update Android project to AndroidX.
This should be trivial using Android Studio.
More info:
https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility

[2019-09-25 08:07] creativecreatorormaybenot commented on #10
The project is updated to AndroidX as far as I am concerned. Can you show which parts are not?

[2019-09-25 08:17] shaxxx commented on #10
Like I said, I was reffering to
https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility
Currently points 2, 3, 4 and 5 are not implemented.

[2019-09-25 17:57] #10 closed

[2019-09-25 17:57] creativecreatorormaybenot commented on #10
@shaxxx https://github.com/creativecreatorormaybenot/wakelock/commit/85bf47cb228025b6f937dccf714b25a648bcd8d9

[2019-10-01 07:05] creativecreatorormaybenot commented on #9
https://github.com/axel-op/dart_package_analyzer

[2020-02-16 21:36] vkammerer opened #15 "Plugin name"
Hello and thank you for your plugin,

I have just a quick question regarding the name of your plugin: I need to use an actual [wake lock](https://developer.android.com/training/scheduling/wakelock#cpu) which, in Android's vocabulary, is something very different from keeping the screen on.
So my only question is: is your plugin properly named? I see it is an adaptation of [screen](https://pub.dev/p

[2020-02-16 22:27] creativecreatorormaybenot commented on #15
Hi, thank you for your question. See #1 for more details. If you wish to have support for actual wake locks, maybe we can start that discussion again. The problem I see is that it cannot really be utilized in Flutter itself, which is why you would probably do that in Android.

Regarding the name: I think it is fine. I see that Android naming is slightly different, but `screen` is way too broad (an

[2020-02-16 23:09] vkammerer commented on #15
Thank you for the quick reply! it's nice to see a plugin well maintained, as this is often not the case. I am currently doing a POC of a Flutter plugin that would enable me to keep a wake lock from an isolate launched from the android alarm manager plugin. If that works well, I would be happy to share with you the code and discuss wether it would be relevant to include it in your plugin's API.

[2020-02-16 23:15] creativecreatorormaybenot commented on #15
@vkammerer It sounds good. I will close this question for now. Feel free to open another issue when you are ready 👍

[2020-02-16 23:15] #15 closed

[2020-02-19 02:06] MichaelHipp opened #16 "MissingPluginException(No implementation found for method toggle on channel wakelock)"
I'm getting the exception & stack trace shown below. I've tried putting the call in a couple of different places.

[code]

[code]

Any suggestions?

[2020-02-19 02:42] MichaelHipp commented on #16
Well evidently this is a common problem with Flutter and likely has nothing to do with this plugin. I solved it by stopping the debugger, doing 'flutter clean' in the terminal and restarting the app.

Found some discussion of it in this thread: https://github.com/flutter/flutter/issues/10912#issuecomment-310637961 . That's where the idea of doing flutter clean came from.

[2020-02-19 02:42] #16 closed

[2020-02-19 08:01] creativecreatorormaybenot commented on #16
@MichaelHipp Did you run on Android or iOS or another platform? There are definitely implementation for those two, but web and desktop does not have implementationa.

[2020-03-18 11:20] creativecreatorormaybenot opened #17 "Web support"
Web support should be added as soon as *wakelock* functionality is available for the web.

It is currently only an experimental feature, see https://web.dev/wakelock/.

The w3c specification can be found [here](https://w3c.github.io/wake-lock/).

[2020-03-18 12:06] creativecreatorormaybenot opened #18 "Update plugin structure"
The plugin is slightly old by now. It should be recreated and some directories and files should be removed and ignored now, based on new insights I have.

This can be implemented together with #9.

[2020-03-18 23:57] #9 closed

[2020-03-18 23:57] #18 closed

[2020-03-20 10:49] shinyford opened #23 "Wakelock requires a foreground activity"
Hi - I'm consistently seeing this exception on Android:

[code]
As best I can tell, I have a foreground activity (if that means that the app is in the foreground at the point it happens).

Any idea why it's happening? Many thanks.

[2020-03-20 16:27] creativecreatorormaybenot commented on #23
@shinyford This means that I have messed up something with the most recent change that I did not catch.

Please use version `0.1.3` while I attempt to fix this.

[code]

Can you please send me your `flutter doctor`?

[2020-03-20 17:07] pablanka commented on #23
I got the same issue. This is my `flutter doctor` output
[code]

[2020-03-20 17:09] creativecreatorormaybenot commented on #23
@pablanka Thanks! That will do. I should be able to fix it (once I have figured out why I could not reproduce it).

I appreciate your feedback, it should also help to improve CI.

[2020-03-20 17:54] creativecreatorormaybenot commented on #23
@pablanka @shinyford I actually think that I will not be able to fix it the way I thought.
Potentially, I will need a more significant change if it is what I think (supporting the old plugin embedding).

Can you tell me if you are using the new Android APIs, i.e. your app is configured as described [here](https://flutter.dev/go/android-project-migration)?
Not sure if this will help, but it might b

[2020-03-20 18:42] kengu commented on #23
I had the same problem. Following the steps for upgrading pre 1.12 Android projects solved it as indicated below:

[2020-03-20 19:33] creativecreatorormaybenot commented on #23
@kengu Thank you, I think I have an idea how to solve this one.

[2020-03-20 19:57] pablanka commented on #23
@creativecreatorormaybenot In my case, I've not updated the project yet. I'll do it and let you know.

[2020-03-20 20:22] creativecreatorormaybenot commented on #23
@pablanka If possible, I would like to try to fix it for older projects and have someone test if it works.

[2020-03-21 09:27] shinyford commented on #23
Sorry for being away - a lot has happened. Thanks!

I'm using the old bindings at the moment.

[2020-03-21 09:29] creativecreatorormaybenot commented on #23
Could someone that experiences this problem in a project try to see if the following `wakelock` dependency fixes it?

[code]

[2020-03-22 10:02] timolehto commented on #23
Trying that I'm getting this:
[code]

[2020-03-22 11:58] creativecreatorormaybenot commented on #23
@timolehto It looks like you have two versions of the plugin building at the same time.
Make sure `wakelock` is only present once in your `pubspec.yaml`, i.e. only the `git` variant and not the version code.

Run `flutter clean` before running `flutter run` again.

[2020-03-22 12:04] shinyford commented on #23
That works for me. No more error.

[2020-03-22 12:38] creativecreatorormaybenot commented on #23
Thank you all for your collaboration 👍 Sadly, the Android integration tests have a different problem on GitHub Actions (I can only test it locally).

This issue should be fixed now and I am going to upload `0.1.4+1` now.

If you have any other problems with it, let me know!

[2020-03-22 12:46] creativecreatorormaybenot opened #25 "Android integration tests not working on GitHub Actions"
Since #21, i.e. since the migration from Travis CI to GitHub Actions and the rework of the integration tests, only the integration tests are failing only on Android only in CI.

Currently, this means that `flutter drive --target=test_driver/app.dart` has to be run locally from `example` before publishing to make sure that the ignored integration tests on Android during the [Checks](https://github.

[2020-03-22 12:47] #23 closed

[2020-03-22 15:47] creativecreatorormaybenot opened #26 "Draft options for GitHub Actions disabled"
https://github.com/creativecreatorormaybenot/wakelock/blob/39e4f45a020ae18ad7b258379c9a9d7a03793739/.github/workflows/checks.yml#L47

Not true because there (should be) are different types of pull request triggers.
Same here:

https://github.com/creativecreatorormaybenot/wakelock/blob/39e4f45a020ae18ad7b258379c9a9d7a03793739/.github/workflows/pana.yml#L17

This should be fixed in combination with

[2020-03-27 03:35] zzlhr opened #27 "Unresolved reference: NonNull"
[code]

[2020-03-27 03:49] zzlhr commented on #27
I add
[code]
success

[2020-03-27 14:26] creativecreatorormaybenot commented on #27
This is strange. I would have tried `flutter clean` instead.

However, this is not an issue with the plugin because that annotation is part of an overriden Flutter method.

[2020-03-27 14:26] #27 closed

[2020-03-28 17:52] aafanasev commented on #17
If someone impatient like me, there is a workaround. I forked this repo and added web support which calling JS code in your index.html. On HTML side I used a tricky NoSleep library which adds `video` tag and plays or pauses the empty video, this is how it prevents sleep 😄

Fork: https://github.com/aafanasev/wakelock
NoSleep: https://github.com/richtr/NoSleep.js
Sample index.html: https://github.co

[2020-03-28 18:02] creativecreatorormaybenot commented on #17
@aafanasev Looks interesting. If you want to open a pull request, go ahead and do so. I would look a bit more into NoSleep then.

Not sure if it is the best idea to add this workaround to the plugin, but we could deal with that then. It would require adding to the README etc.

[2020-03-28 18:31] aafanasev commented on #17
I don't think it's the best idea either. The number of "Not working" issues of NoSleep scaring me. I just wanted to show there is a possibility for whoever comes to this issue.

Carefully look into the solution and if you're strongly sure I don't mind creating PR.

[2020-03-30 17:15] ened commented on #15
@vkammerer exactly our use case. We have a background service that starts a Flutter Isolate. Currently, the service is doing the wake lock management though, so I'm not sure what the benefit would be, as in - the consequence of giving up the wake lock would be the termination of the isolate.

[2020-04-11 17:18] #26 closed

[2020-04-20 09:30] 120011676 opened #28 "Redeclaration: WakelockPlugin Android build exception"
wakelock:
    dependency: transitive
    description:
      name: wakelock
      url: "https://pub.flutter-io.cn"
    source: hosted
    version: "0.1.4+1"

Launching lib/main.dart on MI 5 in debug mode...
Running Gradle task 'assembleDebug'...
e: /Users/say/.pub-cache/hosted/pub.flutter-io.cn/wakelock-0.1.4+1/android/src/main/kotlin/creativecreatorormaybenot/wakelock/WakelockPlugin.kt: (13, 14):

[2020-04-20 09:43] 120011676 commented on #28
delete
righit

[2020-04-20 10:21] creativecreatorormaybenot commented on #28
You need to run `flutter clean` and then `flutter pub get` again.
The problem here is that you still have an old version of the plugin cached, which declares classes with the same name.

[2020-04-20 10:31] 120011676 commented on #28
@creativecreatorormaybenot good

[2020-04-20 10:40] #28 closed

[2020-05-14 08:17] maerlynflagg opened #29 "iOS 13.4.1 goes always in standby"
i tried this ones to keep awake a iOS device (iOS 13.4.1 , iPhone 11 Pro Max):
[code]
every function called without an catched error, but no matter, which function, always go the device in black screen (standby).

is this a bug in the plugin. when the functions are called on iOS 13.4.1 devices?

i know for some weeks, the plugin works fine on iOS and the device skipped standby.

[2020-05-14 08:38] creativecreatorormaybenot commented on #29
Thank you for reporting the issue.

Unfortunately, I do not have the ability to test on iOS at the moment. This means that I cannot really debug this 😕

Are you aware of any change in this iOS version? If you have an idea how to fix it, I will gladly accept any PR :+1:

[2020-06-08 14:13] rlueders opened #30 "Not a true wakelock"
Not a true wake lock as described here: https://developer.android.com/training/scheduling/wakelock

The Android side of this plugin does not implement an actual PowerManger wakelock, rather it implements a FLAG_KEEP_SCREEN_ON.  I was looking for a wakelock plugin, but this plugin appears to be miss-named, or the implementation is incorrect given the current name.

[2020-06-08 14:27] rlueders commented on #29
I tested on my iphone 7 and this plugin successfully keeps the screen on past the expected timeout period.

[2020-06-08 14:39] creativecreatorormaybenot commented on #30
Thank you for your feedback 🙂

Obviously, both the naming and implementation decisions were made conciously.

I believe that wakelock is the best cross-platform term for keeping the screen awake (this has also always been clearly stated in the plugin description).

Please see #1 (it has been known from the start 😃).  I closed it because there did not seem to be interest or an answer to my question

[2020-06-08 14:41] creativecreatorormaybenot commented on #30
Essentially a duplicate of #1, which is why I redirected you to there.

If you think that #1 is not an appropriate place for continuing this discussion, please open a new issue that takes into account both #1 and this issue 🙂 Pull requests are always welcome.

[2020-06-08 14:51] rlueders commented on #30
My intent is to use the wakelock to keep the accelerator running in the background.  As such, the Flutter app would not be starting any new events in the background, rather it would continue listening to accelerometer events that were started prior to the screen turning off.  Something like the following:

1: Start accelerometer
2. Enable wake lock
3. Continually listen to new accelerometer events

[2020-06-08 14:53] creativecreatorormaybenot commented on #30
Does the Flutter code run while the screen is turned off? My understanding was that this is not possible currently, which is why I closed #1.

[2020-06-08 15:30] rlueders commented on #30
I understand now. If the flutter engine stops running when the screen is turned off, then it doesn't matter if the wake lock is active or not.

It appears that what I am trying to accomplish is well documented here: https://medium.com/flutter/executing-dart-in-the-background-with-flutter-plugins-and-geofencing-2b3e40a1a124

However with this approach I will not be able to use the existing sensors

[2020-06-08 15:30] #30 closed

[2020-06-08 17:42] maerlynflagg commented on #29
currently i observe it. my colleage's iphone still goes to standby , after call the function.

[2020-06-08 21:38] creativecreatorormaybenot commented on #29
@maerlynflagg I will be able to debug on iOS soon. If you can remind me in two weeks, I can check this.

In the meantime, if you have any idea why this might be happening, feel free to start a discussion and open a PR 🙂

[2020-06-21 02:27] awhitford opened #31 "android.permission.WAKE_LOCK"
Like [Screen](https://pub.dev/packages/screen#usage), does this package require the `WAKE_LOCK` permission?
[code]

Shouldn't this be added to the Readme?

[2020-06-21 04:34] k3wals commented on #31
Just tested on Android 9 (Pie) and I didn't need to add the permission for the screen to remain on.

[2020-06-21 09:52] creativecreatorormaybenot commented on #31
No, it is not required. This is only required for partial wake locks, which the plugin does not use. See #1 ⁦👍🏽⁩

[2020-06-21 09:52] #31 closed

[2020-06-22 18:34] fyredave commented on #29
@creativecreatorormaybenot I have a client reporting this issue when I archive the build and distribute via enterprise distribution. I also notice sometimes the local deployment doesn't work either. Usually need to clean and rebuild the app to restore it. No error logs, it just stops working and the phone will go to sleep as if it wasn't called. This is happening on my test device using iOS 12.4.1

[2020-07-02 14:14] tnaseem opened #32 "Errors during build process on Microsoft App Center"
I'm getting errors during the build process on Microsoft's App Center with wakelock 0.1.4+1.

The log snippet shows this:

[code]

I had a similar issue with the assets_audio_player plugin and the author was quick to apply a fix. Details here:
https://github.com/florent37/Flutter-AssetsAudioPlayer/issues/266

[2020-07-02 15:25] tnaseem commented on #32
Exactly the same build failure on Codemagic too:

[code]

[2020-07-02 22:00] creativecreatorormaybenot commented on #32
Never heard of Microsoft App Center, but I can take a look at the linked PR.

If you need this asap, you could also open a PR to fix it yourself 👌🏽

[2020-07-03 01:01] tnaseem commented on #32
It was happening on Codemagic too. Anyway, I have found a workaround which seems to get around the issue. Not a solution, but at least it doesn't fail.

I added:
'''
    lintOptions {
        checkReleaseBuilds false
        abortOnError false
    }
'''

To the `android/app/build.gradle` file.

This tip was from a post on [StackOverflow](https://stackoverflow.com/questions/49286268/error-execution

[2020-07-03 01:45] #32 closed

[2020-07-03 01:46] creativecreatorormaybenot commented on #32
@tnaseem Can you try again using `wakelock: 0.1.4+2`?

[2020-07-03 09:47] tnaseem commented on #32
That fixed it! Many thanks :)

I removed my changes above and it worked with wavelock 0.1.4+2.

Still getting build errors, but these seem to be internal to flutter itself! So, I'll stick the lintOptions above back in. It never ends...

wavelock is fine though! Thanks for your help.

[2020-07-05 10:02] ravish-tech commented on #29
I can confirm that on ios 13.5.1 `Wakelock.enable()` works and my screen stays on. But after calling `Wakelock.disable()` (after user moves to another screen), my phone stays on.

[2020-07-05 12:13] creativecreatorormaybenot commented on #29
Does anyone have an idea why this might be happening?

[2020-07-05 12:13] creativecreatorormaybenot commented on #25
Not worth an issue.

[2020-07-05 12:13] #25 closed

[2020-07-17 13:50] Srini-B opened #34 "fatal error: 'Flutter/Flutter.h' file not found"
on flutter 1.17.5, plugin 0.1.4+2, swift version v4.2, Xcode 11.5

[code]

[2020-07-17 14:39] creativecreatorormaybenot commented on #34
Will have to try that soon 👍🏽

If you have any idea why it happens or how to fix it, please lmk or make a PR ❤
(I have no idea atm)

[2020-07-17 17:54] Srini-B commented on #34
just needed to delete and recreate iOS folder

[2020-07-17 17:54] #34 closed

[2020-07-31 08:48] Arthur-Kamau opened #35 "cannot find symbol creativecreatorormaybenot.wakelock.WakelockPlugin()"
Linux version :  20.04
## Flutter doctor:
![Screenshot from 2020-07-31 11-28-50](https://user-images.githubusercontent.com/30284230/89017310-c70ba780-d322-11ea-91dd-28fc4fac089d.png)

## What i have tried.
1. delete pubspeck.lock file and run flutter pub get.
2. cd android && ./gradlew clean assembleDebug && ./gradlew build --refresh-dependencies
this throws this error
![Screenshot from 2020-07-31

[2020-07-31 09:04] creativecreatorormaybenot commented on #35
Thank you for reporting this issue 👍🏼 This error seems weird 😶

1. Did you try to run `flutter clean`?
2. What version of Flutter are you using?

[2020-07-31 12:29] Arthur-Kamau commented on #35
yes, i did.
flutter v 1.17.2 (Image above), even after upgrading to 1.17.5.

[2020-07-31 13:44] creativecreatorormaybenot commented on #35
Do you have multiple projects in your file tree? It seems like the plugin registrant is not setup.

[2020-08-04 08:08] Arthur-Kamau commented on #35
In the end i did a reinstall of the operating system.
It solved my problem.

[2020-08-04 08:08] #35 closed

[2020-08-24 06:53] maerlynflagg commented on #29
oh thanks for info!

[2020-08-27 15:03] deniza commented on #29
Hey guys. I am using wakelock 0.1.4+2 on a live project and its working fine both on iOS 13.6.1 and 14.0 (latest beta).

[2020-08-31 21:53] fyredave commented on #29
Updating my previous comment, only saw an issue when building with xcode. When building with vscode it seemed to work fine.

[2020-09-04 09:29] IchordeDionysos commented on #17
Chrome recently released the Wake Lock API to stable:

https://caniuse.com/#feat=wake-lock

It's in there since Chrome 85 (released on August 25th, 2020)

[2020-09-06 19:00] softmarshmallow opened #36 "support brightness?"
like https://github.com/clovisnicolas/flutter_screen does.

[2020-09-06 19:03] creativecreatorormaybenot commented on #36
Thanks for opening this issue!

This plugin is currently only planned to include screen wakelock functionality.
So I sadly have to disappoint you with the brightness feature request.

The next feature that will be implemented is #17 🙂

[2020-09-06 19:03] #36 closed

[2020-09-06 19:41] softmarshmallow commented on #36
I agree, but i think what developers using this package wants is more functionality related to native screen, not the web support. for the native screen functionality, there could be wake lock, screen brightness, etc.

[2020-09-12 17:07] andreeapurta opened #37 "MissingPluginException(No implementation found for method toggle on channel wakelock"
Hi! I get this error in debug console when I use wakelock:

E/flutter (17630): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method toggle on channel wakelock)

Here's my code:

[code]

Also I do have this added in my AndroidManifest.xml     `<uses-permission android:name="android.permission.WAKE_LOCK" />`
And this in dependenc

[2020-09-12 17:41] creativecreatorormaybenot commented on #37
Thank you for reporting this issue 😃

You do not need to add the permission on Android. What version of Flutter are you using?

[2020-09-12 17:45] andreeapurta commented on #37
v1.17.4

[2020-09-12 18:02] creativecreatorormaybenot commented on #37
@andreeapurta That version seems to be a little outdated. I mean it should still work with that version, but can you reproduce the bug with Flutter v`1.20.3` (latest `stable`)?

You just need to run `flutter upgrade`.

[2020-09-12 21:06] andreeapurta commented on #37
Hi! Thank you so much! You are great. I updated flutter and dart and now everything works! Big thanks again for the support!

[2020-09-12 21:07] #37 closed

[2020-09-20 12:49] waqaskhan409 opened #38 "There is problem in WAKELOCK dependency with Xcode 12."
Third-party dependency uses WAKELOCK dependency which causes failure in Xcode 12, Can you please solve this asap?

Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    In file included from /Users/waqas/Documents/flutter/.pub-cache/hosted/pub.dartlang.org/wakelock-0.1.4+2/ios/Classes/WakelockPlugin.m:1:
    /Users/waqas/Documents/flutter/.pub-cache/hosted/pub.dartlang.org

[2020-09-26 22:45] RaphaelRevivor opened #39 "Module 'wakelock' not found in xcode 11.6"
Hi,

I am using this futter package on Xcode 11.6 in my app. When trying to debug the app on my iPad, I got:
Module 'wakelock' not found

Anyone knows why and how to solve the issue?

Thanks,
Raphael

[2020-09-26 23:49] creativecreatorormaybenot commented on #39
Do you think this could be a duplicate of #34, #35, or #37?

[2020-10-04 18:10] #17 closed

[2020-10-05 12:56] IchordeDionysos opened #46 "No podspec found for `wakelock_web`"
Flutter expects a podspec file in `wakelock_web` this is obviously not expected.

[2020-10-05 13:47] creativecreatorormaybenot commented on #46
@IchordeDionysos When does it happen? I was actually aware of this issue, but I thought that it might have been fixed because iOS builds worked for me.

What version of Flutter did you use?

[2020-10-05 15:53] creativecreatorormaybenot commented on #38
Does this still.happen with `wakelock: ^0.2.0`?

[2020-10-06 02:36] kaboc opened #48 "Plugin project :import_js_library not found."
I've seen the error message **"Plugin project :import_js_library not found. Please update settings.gradle."** in the console on every `flutter run` (on Windows, targeting an Android device) after I updated wakelock to 0.2.0+1. Despite the error, wakelock seems to be working fine.

Is there anything missing on the plugin side, or do I need additional configurations to run the app without the error?

[2020-10-06 05:49] waqaskhan409 commented on #38
let me review

[2020-10-06 06:27] creativecreatorormaybenot commented on #48
Thanks for reporting the issue - I think that this should not happen.

Steps for your:

* What is your Flutter version? (`flutter --version`)
* If it is outdated, please run `flutter upgrade`.
* Try to run `flutter clean` in your project.

[2020-10-06 11:19] creativecreatorormaybenot commented on #38
@waqaskhan409 Sure! Make sure that you use `wakelock: ^0.2.0+1` because that fixes a different iOS build issue.

[2020-10-06 11:35] bazinac commented on #38
Hey, for me it works ok with ` wakelock: ^0.2.0+1`. XCode 12 + iPhone SE 2020 with iOS 14. Thank for the good work!

[2020-10-06 12:24] kaboc commented on #48
- flutter --version
[code]

I ran `flutter clean` before trying each of wakelock 0.1.4+2 and 0.2.0+1. The error occurred only with 0.2.0+1.

I also created a new project with `wakelock: 0.2.0+1` added in pubspec.yaml, and it resulted in the same error.

[2020-10-06 12:28] creativecreatorormaybenot commented on #48
@kaboc Which version of `import_js_library` are you using?

Can you do `flutter pub deps`?

[2020-10-06 12:47] kaboc commented on #48
@creativecreatorormaybenot
[code]

I can see `import_js_library` is in the above result, but I haven't explicitly added it in pubspec.yaml. Do I have to add `import_js_library: ^1.0.1` or some related package as well as `wakelock: ^0.2.0+1`.

FYI, what I'm trying to do is not to run my app on the web, but I just want to run it as a mobile app on a smartphone.

[2020-10-06 12:51] creativecreatorormaybenot commented on #48
@kaboc No, `wakelock` is the only dependency you need.

The reason I asked is because this is really weird. I have not seen anyone else with this issue 🤔

Did you create your Android project with the latest `flutter create`? It seems like a Gradle issue, but there should not be one.

[2020-10-06 12:53] creativecreatorormaybenot commented on #48
(btw, `import_js_library` is included for web support, but it is not used on mobile. However, the dependency obviously always needs to be there)

[2020-10-06 12:56] creativecreatorormaybenot commented on #48
@kaboc Can you try running the example app?

You should be able to find it like this:

* Control click onto your `Wakelock.enable` (e.g.) call in Android Studio.
* Now, you should see the path to the wakelock file in your cache.
* Navigate there and open the `example` project in Android Studio.
* Try to run that project (`flutter pub get` & `flutter run`).

(If you are not using Android Studio, it

[2020-10-06 12:59] kaboc commented on #48
@creativecreatorormaybenot
Yes, I used `flutter create`.

I'll try running the example app. I'm usually using Android Studio.

[2020-10-06 13:39] kaboc commented on #48
@creativecreatorormaybenot
D:\tool\dev\flutter\.pub-cache\hosted\pub.dartlang.ort\wakelock-0.2.0+1\example

flutter pub get
[code]

I have no idea why Flutter tried to open `pubspec.lock` in a different directory, but it failed anyway, so I copied the example folder to another place and managed to get it to run.

However, the same error was shown even with the example app.

I wonder if the above p

[2020-10-06 13:40] creativecreatorormaybenot commented on #48
@kaboc Thank you a lot already!

I hope someone else can reproduce this issue as well 👍

[2020-10-07 00:36] creativecreatorormaybenot commented on #48
@kaboc I have an update on this 🎉

I am confident to close this issue because:

1. It is not an issue with `wakelock` itself but with `import_js_library`. I have therefore created an issue on that repo: https://github.com/florent37/flutter_web_import_js_library/issues/3
1. I did not realize that this was not an actual build problem, i.e. it does not affect `wakelock` at all.

Thanks for reporting,

[2020-10-07 00:36] #48 closed

[2020-10-07 00:46] kaboc commented on #48
@creativecreatorormaybenot
Sorry for having bothered you.
Thank you too!

[2020-10-10 22:50] RaphaelRevivor commented on #39
Hi @creativecreatorormaybenot , sorry for the delay, I was caught up with other stuffs. I think #34 , #34 , or #37 are not related.

However, I found this [https://github.com/flutter/flutter/issues/53573](url), which seems to be a similar issue. And it seems the issue is on the macOS/flutter side, and mostly related to the Podfile.

To solve the issue my steps are:
1. open a terminal and go to my_

[2020-10-10 22:50] #39 closed

[2020-10-11 17:19] waqaskhan409 commented on #38
It is working!, Thanks alot @creativecreatorormaybenot

[2020-10-11 17:19] #38 closed

[2020-10-13 08:48] llucax opened #49 "regression: Plugin project :import_js_library not found."
After upgrading to 0.2.0+1 I'm getting this "error" (in quotes because it's shown in red but it doesn't actually prevents it from working) when running `flutter run` in my project:

[code]

[2020-10-13 08:59] creativecreatorormaybenot commented on #49
Thanks for reporting the issue 👍

No need to worry about this 🙂 Duplicate of #48.

[2020-10-13 08:59] #49 closed

[2020-10-13 09:11] creativecreatorormaybenot commented on #49
Duplicate of #48

[2020-10-13 11:01] llucax commented on #49
Woops! Sorry, I usually check if the issue was already reported, I guess I forgot this time :-/

[2020-10-25 06:59] bhanuka96 opened #52 "Execution failed for task ':wakelock:compileDebugKotlin'."
I got this error after upgrade to `^0.2.0+2`.

I found this solution to fix this,
  `wakelock: 0.2.0+1`

[code]

[2020-10-25 08:32] creativecreatorormaybenot commented on #52
@bhanuka96 Can you try doing `flutter clean` and then getting the new version?

[2020-10-25 09:03] bhanuka96 commented on #52
@creativecreatorormaybenot I did 'flutter clean'. this is happening to my all projects.

[code]

[2020-10-25 10:52] creativecreatorormaybenot commented on #52
@bhanuka96 I think that the issue is fixed 🎉

Can you confirm this by testing `0.2.1`?
Thanks a lot for your help 🙂

[2020-10-25 11:50] mehmetartun commented on #52
Thank you I was having same issue and 0.2.1 fixed it!

[2020-10-25 12:28] creativecreatorormaybenot commented on #52
@mehmetartun Thanks for the response!

I will close this issue then :)

[2020-10-25 12:28] #52 closed

[2020-10-25 12:30] creativecreatorormaybenot commented on #52
To fix the `wakelock: 0.2.0+2` "Execution failed for task ':wakelock:compileDebugKotlin'." issue on Android, upgrade the wakelock plugin:

[code]

I will lock this issue - if you experience a similar or any other problem, please open a new issue 🙂

[2020-10-28 13:40] kphanipavan opened #54 "Error while using the plugin."
Unable to complete build process after importing wakelock.dart file in my flutter application.

![](https://cdn.discordapp.com/attachments/745288827740094615/770994272967065630/Screenshot_2020-10-28_at_6.25.45_PM.png)

The error is shown as above.
A build for MacOS is working fine.
It is just with Android.
Haven't tested with iOS.

[2020-10-28 17:27] creativecreatorormaybenot commented on #54
Thanks for opening the issue! 😃

Are you sure that this only happens with wakelock?

[2020-10-28 23:07] erkanmrs commented on #54
same issue,
[code]

when i remove  below lines from  wakelock pubspec.yaml warning gone

[code]

[2020-10-28 23:17] creativecreatorormaybenot commented on #54
@erkanmrs No, that is not an issue - you can check #49. You can safely ignore the warning :)

[2020-10-29 01:35] kphanipavan commented on #54
No, I haven't tested any other plugins yet

[2020-10-29 01:37] creativecreatorormaybenot commented on #54
@kphanipavan It does not look like this is an issue with `wakelock`. This is why it would be important to know if you still experience the issue when you remove the `wakelock` dependency.

[2020-10-29 04:53] tnaseem commented on #29
I just tried 0.1.4+2 myself, after your findings @deniza. However, the report I get back from my client is that it's still happening (iOS 13.5.1)

What's weird though is that they're saying it happens on some screens, but not others, but the code (with the Wavelock.enabled() in initState), is the same! I'd expect they either all work, or not at all.

Totally confused!

[2020-10-29 05:08] creativecreatorormaybenot commented on #29
@tnaseem You might be releasing the wakelock somewhere else.

I would advise you to enable the wakelock rather often to be sure that you have the correct state.
If you really want to be sure, you could place it in a position listener for a video or potentially even the build method of an animation (although there should be better places).

[2020-10-29 05:13] tnaseem commented on #29
I'll give that a go. Thanks.

As an aside - I currently, I enable it in initState() and disable in dispose(). But will give your suggestion a go. I do have a positionBuilder running (audio, rather than video) for other aspects of the app, so this should be simple enough!

Question: Should I check for 'enabled' first? or just force it periodically with a Wakelock.enable()?

[2020-10-29 05:44] creativecreatorormaybenot commented on #29
@tnaseem You do not need to check for `enabled` because the plugin checks it for you :)

It is, in fact, more efficient to not check it yourself because you only need to communicate with the platform once.

[2020-10-29 08:41] tnaseem commented on #29
Your suggestion worked to keep it awake. Many thanks for the heads up! :)

Still no idea why it disables after I call `Wakelock.enable()`. Something, somewhere, is disabling it. I've even removed ALL `Wakelock.disable()` from my code to test and still it happens. Very strange.

Anyway, below is the workaround I've adopted. Listing here in case it's of use to anyone. It's a helper class, which uses

[2020-10-29 14:46] creativecreatorormaybenot commented on #29
@tnaseem The system can also release the wakelock and I am glad you find a solution 👌

[2020-10-29 14:47] creativecreatorormaybenot commented on #29
I will close this for now as it seems that this is not really an issue with wakelock.

[2020-10-29 14:47] #29 closed

[2020-10-29 19:13] anthonyorona commented on #54
@creativecreatorormaybenot I have checked other plugins, this only happens with wakelock.

Launching lib/main.dart on SM A716U1 in debug mode...
Running Gradle task 'assembleDebug'...
Plugin project :import_js_library not found. Please update settings.gradle.
✓ Built build/app/outputs/flutter-apk/app-debug.apk.

[2020-10-29 19:15] anthonyorona commented on #48
Is there anything that can be done to prevent this warning from popping up with we are using Wakelock for mobile only?

[2020-10-29 21:22] creativecreatorormaybenot commented on #54
@anthonyorona This is a warning that you can safely ignore - see #48.

Do you have any problems with the `wakelock` plugin itself?

[2020-10-29 21:31] creativecreatorormaybenot commented on #48
@anthonyorona You can upvote https://github.com/florent37/flutter_web_import_js_library/pull/4 (which is another plugin).

The PR fixes it. If you really hate to see that warning (which you can just ignore), you can add a dependency override that uses the PR for the `import_js_library` dependeny.

[2020-10-29 21:32] creativecreatorormaybenot commented on #54
I assume that this is a:

Duplicate of #48

Let me know if I am wrong.

[2020-10-29 21:32] #54 closed

[2020-10-29 21:33] creativecreatorormaybenot commented on #54
Duplicate of #48.

[2020-10-29 21:33] creativecreatorormaybenot commented on #54
Duplicates #48

[2020-10-29 21:33] creativecreatorormaybenot commented on #54
Duplicate of #48

[2020-11-08 05:08] creativecreatorormaybenot commented on #48
This has been fixed now :) You can run `flutter pub upgrade` for the fix.

[2020-11-08 05:09] creativecreatorormaybenot commented on #54
The issue has been fixed :) Running `flutter pub upgrade` will do the trick.

[2020-11-09 23:45] Ahmadre opened #57 "[Feature-Request]: Wakelock for Desktop (Mac, Windows, Linux)"
At first: Thanks you so much for wakelock and the web support!

I am one of the maintainer of the chewie package and we're using wakelock, but would also like to support desktop plattforms in future.

Is it possible to have wakelock_platform_interface or wakelock for mac, windows and linux?

Thanks in regards.
Rebar :)

[2020-11-10 00:55] creativecreatorormaybenot commented on #57
@Ahmadre Thanks so much for using the package and opening the issue 🙏

I already created `wakelock_platform_interface` recently, so adding support should be really easy 👌

Do you have experience with these platforms? I personally do not have experience with Flutter on these platforms, so a contribution would be very helpful in this case.
If you know the necessary platform calls but you are not sur

[2020-11-10 01:03] Ahmadre commented on #57
Very good 👌🏼 then I'll start with Mac support at first :)

[2020-11-30 12:33] KiritoBeater opened #63 "Wakelock is different on iOS and Android"
Wakelock is different  on iOS and Android. I think may be add a comment on code or solve them.

1.  [iOS: idleTimerDisabled = YES works only until ImagePicker was used](https://stackoverflow.com/questions/23391564/ios-idletimerdisabled-yes-works-only-until-imagepicker-was-used)

    On iOS, wakelock.enable() will be change to `false` after UIImagePickerController disappears. This usually happens w

[2020-11-30 12:58] creativecreatorormaybenot commented on #63
Thanks a lot for reporting this issue @KiritoBeater 🙂

What exactly would you say is the issue in both of the cases?

1. What is the problem here from the perspective of the `wakelock` plugin as in what could be done differently?
2. I think you can only set the wakelock on an activity on Android, so what should be done differently?

[2020-11-30 13:13] KiritoBeater commented on #63
I create a PR, use KVO to resolve the first question. And for the second，I think maybe it need to listen a lifecycle in DartCode

[2020-12-01 23:03] #63 closed

[2020-12-10 18:07] Fabio-Paccosi opened #67 "The plugin `wakelock` requires your app to be migrated to the Android embedding v2"
Hello guys,

When I run flutter pub get, from today, I've got this message:

The plugin `wakelock` requires your app to be migrated to the Android embedding v2. Follow the steps on https://flutter.dev/go/android-project-migration and re-run this command.

In another project created at the same time, I've got the same pubspec.yaml file but I can run flutter pub get correctly.

This is my pubspec.ya

[2020-12-10 18:21] creativecreatorormaybenot commented on #67
Hi @Fabio-Paccosi 🙂

Thanks for using the plugin - this is most likely not an issue with wakelock.

Can you follow the steps at https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects?

[2020-12-10 19:02] paccosi93 commented on #67
I've tried to follow this guide, but my application is currently use mainactivity.kt and this guide is not clear enought for my case...

[2020-12-10 19:11] creativecreatorormaybenot commented on #67
@paccosi93 You can always delete the `android` directory in your app and run `flutter create .` again.

[2020-12-10 19:43] creativecreatorormaybenot commented on #67
Or compare to a newly generated version - anyway, this is not an issue with wakelock in that case but rather with https://github.com/flutter/flutter.

[2020-12-12 23:14] derolf opened #68 "Suppoert other forms of wake locks"
Proximity wake lock would be nice

[2020-12-12 23:25] creativecreatorormaybenot commented on #68
Hi @derolf :) Thanks for opening this issue 👌

Could you elaborate on this? This might be a duplicate of #1.

[2020-12-12 23:28] creativecreatorormaybenot commented on #68
(my reasoning for closing CPU wakelocks on Android was that you would write Android code anyway when that would be useful, so no benefit to include it in the plugin)

[2020-12-26 18:08] NaarGes opened #69 "pub get error"
Hi
Im getting this error while trying to add wakelock ^0.2.1+1 into my pubspec.yaml

Because every version of flutter_test from sdk depends on meta 1.1.8 and wakelock >=0.2.0 <0.3.0-nullsafety.0 depends on meta ^1.2.0, flutter_test from sdk is incompatible with wakelock >=0.2.0 <0.3.0-nullsafety.0.

and when I comment out flutter_test, I also get this error:

Because every version of flutter from

[2020-12-26 18:30] creativecreatorormaybenot commented on #69
Thanks for opening the issue!

It seems that Flutter is using an older version of `meta`.

What version / channel of Flutter are you using? :)

---

I think that I can downgrade to an older version anyway, however 🤔

[2020-12-26 23:27] NaarGes commented on #69
thank you for the hint
I wasn't using latest flutter version
I upgrade flutter and now everything works fine

[2020-12-26 23:27] #69 closed

[2021-01-07 12:05] rocboronat opened #70 "Does it need any permission?"
Please, clarify it on the readme, either if it needs a permission or not. Just for the peace of mind. Thank you! 👍

[2021-01-07 13:21] creativecreatorormaybenot commented on #70
@rocboronat Solved in #71 - hope I was able to help you :)

[2021-01-07 13:27] rocboronat commented on #70
Cool! Thanks a lot. And you did! 😊

[2021-01-07 13:35] #70 closed

[2021-01-07 13:35] #67 closed

[2021-01-07 13:36] #68 closed

[2021-01-07 13:37] creativecreatorormaybenot commented on #68
I realize that proximity wakelock is something different than in #1, however, it is something entirely different than what we wakelock currently does. I feel like it might not fit with the existing API, however, feel free to contribute any ideas 👍

[2021-01-11 16:51] nt4f04uNd opened #77 "getter and function `enabled` have the same name"
![image](https://user-images.githubusercontent.com/39104740/104212008-cb95c980-5445-11eb-9d78-2e14a3e8d88d.png)

cheking the source code i can see two getters the do the same, but you deprected another valid one (and in latest release even removed it at all)
why did you added enabled getter that causes this exception, did you even test your change?

i'm using wakelock: ^0.2.1+1

<details>
<summary

[2021-01-11 19:36] creativecreatorormaybenot commented on #77
Hi @nt4f04uNd. Thanks for opening the issue 🙂

Of course I tested the code when I deployed it. The package is also unit and integration tested and used in numerous production apps.

There **has never been** an `enabled()` function. You cannot have a getter and a function member of the same name - that would not combine.

What you are looking for is either `Wakelock.enable();` (without the `d`) or

[2021-01-11 19:36] #77 closed

[2021-01-11 20:16] nt4f04uNd commented on #77
@creativecreatorormaybenot oh my bad

[2021-01-11 21:57] creativecreatorormaybenot opened #78 "Add macOS support"
## Description

This issue tracks the `wakelock` integration for **macOS** specifically.

## Related issues

There is another issue addressing desktop support in general: https://github.com/creativecreatorormaybenot/wakelock/issues/57

## Challenges

As `wakelock` uses `pigeon` for handling platform calls (which is awesome), we cannot use the existing integration for macOS. This is because of http

[2021-01-11 22:07] creativecreatorormaybenot commented on #78
The messages (https://github.com/creativecreatorormaybenot/wakelock/blob/master/wakelock/pigeons/messages.dart) can also be used as a reference for what platform calls will be neded.

[2021-01-11 22:08] creativecreatorormaybenot commented on #78
And the **Web implementation** can be used as a reference (because it also does not use pigeon):

https://github.com/creativecreatorormaybenot/wakelock/blob/3f63f9549b6e564c124611dad12a989e6af7debb/wakelock_web/lib/wakelock_web.dart#L21

[2021-01-11 22:12] wilsonowilson commented on #78
The `IOKit.pwr_mgt` framework allows turning off sleep using `IOPMAssertionCreateWithName` and reenabling it with `IOPMAssertionRelease`. Here is a quick sample from the **[Technical Q&A QA1340](https://developer.apple.com/library/archive/qa/qa1340/_index.html)** (translated to swift):

[code]
**Enabling WakeLock:**
[code]

**Disabling WakeLock:**
[code]

I've tried this myself and it works on my

[2021-01-11 22:21] creativecreatorormaybenot commented on #78
@wilsonowilson That is super amazing work 🚀

I think the only missing piece is getting the current state 👍

It says that:

Do you reckon it is worth supporting older deployment targets? (creating a solution for that as well)

[2021-01-11 22:35] wilsonowilson commented on #78
I doubt it's worth it, but I would be unable to test it to make sure it works, and I highly doubt a sizeable portion of Flutter devs are using anything less than High Sierra or even Snow Leopard.

If it's an option though, I think there are a few examples I came across which might be a good starting point.

Getting the current state is much tricker. This[ Stack Overflow answer](https://stackoverfl

[2021-01-11 22:41] creativecreatorormaybenot commented on #78
@wilsonowilson I see.

1. We do not necessarily care if another assertion is running if we can  call the enable function without performance issues in e.g. a video player progress listener 👍

2. https://github.com/flutter/flutter/issues/73738#issuecomment-758265672 sounds really intriguing. You reckon you could give that a shot? I think I would be able to put it all together (if it works) myself a

[2021-01-11 22:46] wilsonowilson commented on #78
As far as I know, there should be no performance issues.

My major concern is keeping track of the state though, because they can be done from either the swift side, or from the plugin side. I will work on a sample for keeping track of the status using both methods.

[2021-01-12 09:40] creativecreatorormaybenot commented on #78
@wilsonowilson In all other implementations (iOS, Android, and web), we do not keep track of the state because it turned out to be easier.

If the state changes on the device, `Wakelock.enabled` should just return something different, however, there is no need to notify or lock a state. We usually enforce a wakelock state by calling it repeatedly because there are so many possible edge cases that

[2021-01-16 23:48] #78 closed

[2021-01-29 00:04] lslv1243 opened #90 "Could not make it work on MacOS"
I was happy to see that this lib is available for macOS, but I could not get it to work. Could you please help me figure out what is going on?

The last line in the log is about `wakelock`, is says the podspec was not found:

[code]

I am on Flutter dev channel, version 1.26.0-12.0.pre and I have installed `wakelock: ^0.4.0-nullsafety.0`.

Here is the part of my pubspec.lock that refers to wakeloc

[2021-01-29 00:37] lslv1243 commented on #90
I got it working by running: `rm macos/Podfile`

[2021-01-29 00:37] #90 closed

[2021-01-29 06:34] creativecreatorormaybenot commented on #90
Thanks for trying it out on macOS @lslv1243 ❤️ You can thank @wilsonowilson for that 😍

Glad to see you made it work for you!

[2021-01-31 11:53] benyamin218118 opened #91 "FCMService: Invalid notification content"
i am getting this error about FCM after importing wakelock library in my flutter project:
[code]
but if i remove the wakelock plugin from my dependencies list , it works well as it was working before!
what's wrong?

[2021-01-31 16:36] creativecreatorormaybenot commented on #91
I doubt that this is related (I do not see any reason why it would be).

Can you try to upgrade Flutter and use `flutter clean`?
Also what platform are you running on?

[2021-02-01 08:15] benyamin218118 commented on #91
im running on android 10 (samsung A6+) , i tried flutter clean , my flutter version is `Flutter 1.22.5 • channel stable` .
i will try to update my flutter and let you know if it fixed. thanks for answering

[2021-02-01 12:53] creativecreatorormaybenot commented on #91
@benyamin218118 Do you have any idea why this might be happening looking at the Android code?

We use FCM as well and I do not think we are having any issues with `wakelock` 🤔

[2021-02-02 07:41] benyamin218118 commented on #91
not really ..
i have upgraded my flutter in its stable channel
but still so :
[code]

may there is a little conflict between this and one of my other dependencies, i have no idea :/

[2021-02-02 08:16] creativecreatorormaybenot commented on #91
If you take a look at the Android code: https://github.com/creativecreatorormaybenot/wakelock/blob/master/wakelock/android/src/main/kotlin/creativemaybeno/wakelock/WakelockPlugin.kt

It seems pretty unlikely that it conflicts with notifications 🤔

[2021-02-02 09:25] benyamin218118 commented on #91
exactly , i dont really know where is the problem
should i close the issue because this maybe not related to wakelock?

[2021-02-02 10:01] creativecreatorormaybenot commented on #91
@benyamin218118 You can decide that. We can leave it open if you want to.

I have no idea how to solve this on my end right now, maybe we'll get more insights later.

I would suggest opening an issue for the FCM plugin.

[2021-02-02 11:58] benyamin218118 commented on #91
ok
tnx for your time♥.

[2021-02-02 11:58] #91 closed

[2021-02-03 10:43] MarkStraub opened #92 "`wakelock` doesn't have a main class defined"
The plugin `wakelock` doesn't have a main class defined in
C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\wakelock-0.2.1+1\android\src\main\java\creativemaybeno\wakelock\WakelockPlugin.java or
C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\wakelock-0.2.1+1\android\src\main\kotlin\creativemaybeno\wakelock\WakelockPlugin.kt. This is likely to due to an incorrect `androidPackage:
creativemayben

[2021-02-03 11:16] creativecreatorormaybenot commented on #92
Hi :) Thanks for opening the issue 🙂

I think this issue is likely fixed by running `flutter clean` and then building again - can you try that?
I am pretty confident that the plugin is properly configured.

[2021-02-03 12:47] MarkStraub commented on #92
Thanks for your fast answer. =)

Unfortunatelly `flutter clean` does'nt help. I also tried a reboot with no result.

[2021-02-03 13:50] creativecreatorormaybenot commented on #92
@MarkStraub The file clearly exists, however: https://github.com/creativecreatorormaybenot/wakelock/blob/afd369e24d949edcaf45ef980a45d423dfb5750a/wakelock/android/src/main/kotlin/creativemaybeno/wakelock/WakelockPlugin.kt

There has to be something wrong with your locally cached version of the plugin 🤔

[2021-02-03 14:11] MarkStraub commented on #92
It seems really strange. Hopefully I will get it running.

Thanks anyway :-)

[2021-02-09 03:28] Jossnaz opened #93 "can the wake lock be overruled by the user?"
just asking - for example if I play mp3s using my phone, is that a wake lock as well as the screen does turn off, but the music continues playing.

e.g. can the wake lock be overruled by the user if he presses the screen lock button? or will the app keep running?

what about battery life? subjective rule of thumb thoughts?

[2021-02-09 07:58] creativecreatorormaybenot commented on #93
Hi @Jossnaz, thanks for opening the issue :)

This plugin **only** prevents the device from automatically turning off the screen. It has nothing to do with partial wakelocks in the background / CPU wakelocks.
Therefore, it has no impact on the user manually turning off the phone screen :) (this plugin does not do anything in the background)

[2021-02-10 13:38] MarkStraub commented on #92
If I take the older Version 0.2.1 `wakelock: 0.2.1`it works fine.

Was there a big change between 0.2.1 and 0.2.1+1?

[2021-02-10 13:54] #92 closed

[2021-02-24 09:11] #93 closed

[2021-03-05 16:11] nizwar opened #95 "'Flutter/Flutter.h' file not found on Flutter 2.0.1"
My project is not ready for nullsafety, and still use wakelock-0.2.1+1, its generate following error while running the application

`1 error generated.
    /Library/Developer/flutter/.pub-cache/hosted/pub.dartlang.org/wakelock-0.2.1+1/ios/Classes/messages.m:4:9: fatal error: 'Flutter/Flutter.h' file not found
    #import <Flutter/Flutter.h>
            ^~~~~~~~~~~~~~~~~~~`

its only happened with

[2021-03-05 16:33] creativecreatorormaybenot commented on #95
Hi @nizwar :) Thanks for opening the issue!

You can now already use the latest wakelock version when you have not migrated to null safety yet.

I would suggest bumping to the latest version and running `flutter clean`. Hope it helps 🙂

[2021-03-06 19:23] creativecreatorormaybenot commented on #95
I think that there is nothing to do from the wakelock side of things, hence, closing for now. Let me know if this should be reopened :)

[2021-03-06 19:24] creativecreatorormaybenot commented on #57
Closing this as #96 added Windows support. I will be releasing it today.

In place of this, I will open an issue for Linux support specifically :)

[2021-03-06 19:24] #57 closed

[2021-03-06 19:29] creativecreatorormaybenot opened #97 "Linux support"
## Description

The wakelock plugin has added support for web (#40), for macOS (#86), and now also for Windows (#96) over time. The only missing platform at this time is Linux.

This issue tracks the feature request for Linux support (replacement for the general desktop support issue #57).

## Attack plan

Wakelock should be all ready for Linux support. All it takes now is a contribution from some

[2021-03-07 13:44] marcschw opened #102 "v0.5 breaks web"
Hi there,

somehow when I upgrade from wakelock: ^0.4.0 to 0.5.0 and run
`flutter build web `
on flutter 2.0.1 (stable), I get a long list of errors and compilation breaks (none of these happen if I do the same with 0.4.0):

[code]

Here's my other dependencies:
[code]

[2021-03-07 16:03] creativecreatorormaybenot commented on #102
@marcschw Thanks for reporting the issue 🙏

This is totally my mistake. Due to flutter/flutter#52267 not yet being available on `stable`, the `wakelock_windows` implementation is always imported. I will resolve it conditional imports for now - give me a minute :)

[2021-03-07 16:15] creativecreatorormaybenot commented on #102
This should be fixed once #103 lands 🎉

Sorry for the inconvenience @marcschw!

[2021-03-07 16:23] #102 closed

[2021-03-07 17:08] marcschw commented on #102
no worries at all, thank you for fixing this so fast! :)

[2021-03-08 14:33] psrcek commented on #95
This happens with wakelock 0.5.0+2 aswell
Happens only on iOS. Compiles on android just fine.

[code]

dart: `2.12.0`
flutter: `2.0.1`

[2021-03-08 16:05] creativecreatorormaybenot commented on #95
@psrcek Have you tried running `flutter clean`?

I am not sure why this would suddenly appear. This code has not been touched.

[2021-03-08 16:17] psrcek commented on #95
Our CI runs flutter clean before each build, so.. yes.

[2021-03-08 16:29] creativecreatorormaybenot commented on #95
@psrcek Can you reproduce this with a newly created project? (`flutter create bug`)

Otherwise, this is probably faulty Podfile configuration.

[2021-03-08 17:34] ekuleshov commented on #95
Have the same issue and `flutter clean` didn't resolve it.

Is it suggested to recreate the ios project and podfile somehow?

[2021-03-08 18:14] creativecreatorormaybenot commented on #95
@ekuleshov I am not sure - do you think you can look into it?

I bet this is a simple config change necessary, however, I have no idea to be honest.

[2021-03-08 18:29] ekuleshov commented on #95
@creativecreatorormaybenot I'm not really sure what to look at. Downgrading Flutter to 1.x resolved issue for the time being.

Quick search found things like this https://github.com/flutter/flutter/issues/70895 though recommended workarounds with clean ore removing podfile.lock didn't help here. I'd have to try this again when I'll have some more time.

[2021-03-08 18:37] creativecreatorormaybenot commented on #95
@ekuleshov Thanks for investigating.

I will also keep this in my mind to see if I can tackle this asap.

[2021-03-11 02:50] creativecreatorormaybenot commented on #95
If anyone has insights on this, please let me know :) I am glad to accept any contributions!

[2021-03-11 09:38] psrcek commented on #95
I was able to fix the issue with [this](https://github.com/flutter/flutter/issues/70895#issuecomment-792755327) suggestion.
I just added the line `flutter_additional_ios_build_settings(target)` in the `post_install do` decleration in our Podfile.

[2021-03-11 09:57] creativecreatorormaybenot commented on #95
Thanks a lot @psrcek 🙏

Are you suggesting that [this fix](https://github.com/flutter/flutter/issues/70895#issuecomment-792755327) has to be done in **your app** or in the **wakelock plugin**? :)

[2021-03-11 10:01] psrcek commented on #95
No idea if that should be fixed in wakelock or in the end user app, but fixing it in my app worked for me. Since this seems like a required config migration to flutter 2.0.0 I think it might be a required fix in the app. I haven't tried creating a new app, but my best guess is that line already exists in newly created apps in flutter >=2.0.0.

[2021-03-17 23:19] patman1706 opened #106 "flutter pub get not working with version 0.5.0+2"
Hi,

i juste tried a few times to pub get the package wakelock: ^0.5.0+2
i've got the following error:

**_**The current Dart SDK version is 2.10.5.

Because myapp depends on wakelock >=0.3.0-nullsafety.0 which requires SDK version >=2.12.0-0 <3.0.0, version solving failed.
pub get failed (1; Because myapp depends on wakelock >=0.3.0-nullsafety.0 which requires SDK version >=2.12.0-0 <3.0.0, versi

[2021-03-17 23:29] patman1706 commented on #106
i forgot to give this information:
SDK flutter: 1.22.6
Android Studio: 3.6.2

[2021-03-18 16:41] creativecreatorormaybenot commented on #106
Hi @patman1706,

recently Flutter 2.0.0 was release (see https://medium.com/flutter/whats-new-in-flutter-2-0-fe8e95ecc65).

If you want to use the latest version of `wakelock`, you will have to upgrade to Flutter 2.0.0. You can do this using `flutter upgrade -f` and whatever channel you are on (the `-f` will discard any local changes to the SDK).

Hope I was able to help you 🙁

[2021-03-18 16:42] #106 closed

[2021-03-19 16:13] patman1706 commented on #106
Hi,

yes it worked.

thank you.

Patrick

[2021-04-15 20:59] ened opened #107 "EXC_BAD_ACCESS when triggering wakelock on iOS"
We're currently investigating a problem with this plugin when used on iOS.
The symptom is a full app crash with EXC_BAD_ACCESS, in the iOS side's `observeValueForKeyPath` method:

<img width="1583" alt="Screenshot 2021-04-15 at 21 56 25" src="https://user-images.githubusercontent.com/269860/114937211-6df28e00-9e35-11eb-9463-abaa5f8b6ba2.png">

The stacktrace points to a recursion:
<img width="515"

[2021-04-15 21:22] ened commented on #107
I have also noticed the plugin is only removing the observer in it's `dealloc` call, whereas this should probably happen in `detachFromEngineForRegistrar`:

[code]

[2021-04-15 21:25] creativecreatorormaybenot commented on #107
@ened Sounds reasonable. I did not contribute that part of the code. Are you interested in proposing a change?

[2021-04-15 21:39] ened commented on #107
@creativecreatorormaybenot yes, will do after #108 is merged. :)

[2021-04-16 09:52] #107 closed

[2021-05-14 14:25] jaydipgodhani opened #112 "Try correcting the name to the name of an existing method, or defining a method named"
When I am run the flutter app then shows me an error like below.

`Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    ../../../../.pub-cache/hosted/pub.dartlang.org/wakelock_platform_interface-0.2.0/lib/messages.dart:100:17: Error: The method
    'setMockMessageHandler' isn't defined for the class 'BasicMessageChannel<dynamic>'.
     - 'BasicMessageChannel' is from 'pac

[2021-05-14 14:47] creativecreatorormaybenot commented on #112
Hi @jaydipgodhani, thanks for opening the issue.

Can you post your `flutter doctor -v`?

[2021-05-14 14:59] jaydipgodhani commented on #112
@creativecreatorormaybenot  please check `my flutter doctor -v`

[code]

[2021-05-14 15:05] creativecreatorormaybenot commented on #112
@jaydipgodhani It seems `setMockMethodHandler` might have been removed on the latest `master`.

[2021-05-14 15:06] creativecreatorormaybenot commented on #112
I will try regenerating the messages to see what the latest code looks like.

[2021-05-14 15:07] jaydipgodhani commented on #112
@creativecreatorormaybenot is there any possible solution for that.?

[2021-05-14 15:17] creativecreatorormaybenot commented on #112
@jaydipgodhani can you try to use a different channel for the moment?

[2021-05-14 17:47] #112 closed

[2021-05-14 18:32] creativecreatorormaybenot commented on #112
@jaydipgodhani I have fixed the issue in `wakelock: ^0.5.2` 🙂

Let me know if you encounter any other problems.

[2021-05-25 07:58] arunsacharyadev opened #116 "It is not working on samsung galaxy s10 device"

[2021-05-25 10:53] creativecreatorormaybenot commented on #116
Hi @arunsacharyadev 👋 Thanks a lot for using the plugin and opening this issue 🙂

Unfortunately, without any details I am not able to help you. I would assume that it works on s10 devices given the implementation, but I do not have this device myself to do any testing. Contributions are also welcome.

I can reopen the issue if you are able to provide any more details that help in potentially fixin

[2021-05-25 10:53] #116 closed

[2021-06-10 02:54] NgYewChun opened #117 "wakelock not working on Flutter-Web-Safari"
for Flutter Web ,  it works well on android (chrome) , but not working on iPhone safari, screen goes off after around 30 seconds.
all I do is simply call Wakelock.enable() in widget void initState() as below

void initState() {

super.initState();
 Wakelock.enable();

}

version wakelock: ^0.5.2

[2021-06-10 02:56] creativecreatorormaybenot commented on #117
Hi, that is indeed possible. Safari has notoriously bad compatibility.

We are already using a polyfill, but it might not support all browsers. You could contribute by checking that.

[2021-06-16 09:00] denkoul opened #118 "question: wakelock enabled and android/ios app killed"
A general question.. if I leave the wakelock enabled, will the screen remain open after I force close the app?

[2021-06-16 09:13] #118 closed

[2021-06-16 16:55] denkoul commented on #118
@creativecreatorormaybenot ok, Android and iOS was my case. Thanks.

[2021-06-22 11:04] olyshchuk opened #119 "Update dependencies"
flutter:
    sdk: flutter

  **meta: ^1.2.0** to 1.3.0

  wakelock_macos: ^0.1.0+1
  wakelock_platform_interface: ^0.2.1+1
  wakelock_web: ^0.2.0+1
  wakelock_windows: ^0.1.0

[2021-06-22 11:14] creativecreatorormaybenot commented on #119
Hi @olyshchuk, thanks for opening the issue.

What exactly is the problem you are facing?

[2021-06-22 11:30] olyshchuk commented on #119
dart pub outdated

[2021-06-22 12:15] creativecreatorormaybenot commented on #119
@olyshchuk I see, but this way I can ensure that old versions of Flutter are still supported 🤔

You can force the latest meta version in your direct dependencies. However, I would say transitive outdated dependencies are acceptable, especially `meta` that is a framework dependency.

[2021-06-22 12:24] olyshchuk commented on #119
@creativecreatorormaybenot Thanks for the answer, I will take this into account

[2021-06-22 12:24] #119 closed

[2021-06-25 04:30] LongXiangGuo opened #120 "[iOS] 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'i386' cause a iOS building issue"
https://github.com/creativecreatorormaybenot/wakelock/blob/8d6197ebd38d8fa9b8210ef28db6b96969aaf753/wakelock/ios/wakelock.podspec#L22

[code]

[2021-06-25 04:35] LongXiangGuo commented on #120
Fix it by override the buildsettings

      # config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*]'] = 'arm64'
      # config.build_settings['ARCHS[sdk=iphonesimulator*]'] = 'x86_64'
      # config.build_settings['VALID_ARCHS[sdk=iphonesimulator*]'] = 'x86_64'

[2021-06-25 04:35] #120 closed

[2021-06-29 05:36] SdxCoder opened #121 "wakelock not working on iOS 13"
Its working properly on android but not on iOS. What I do is when a song is playing in my application I  call `Wakelock.enable`. And when its stopped by user I call `Wakelock.disable`. But its not working for iPhone devices. Tested on iOS 13.

[2021-06-29 13:05] creativecreatorormaybenot commented on #121
Might be a duplicate of #29 - did you check that?

[2021-06-29 13:06] #95 closed

[2021-07-06 06:27] pleasecallmelm opened #122 "0.5.2 iOS的问题"
你这个也太硬核了。那个观察者是全局的，会导致别的插件，例如播放器内部设置idleTimerDisabled为true，调用这个idleTimerDisabled 的set函数时触发观察者，从而设置回false。建议改成下面这样。`- (void)observeValueForKeyPath:(NSString *)keyPath ofObject:(id)object change:(NSDictionary *)change context:(void *)context {
  if (context == mKeyPathObserverContextApplicationIsIdleTimerDisabled) {
    if (UIApplication.sharedApplication.idleTimerDisabled != self.enable) {
    //

[2021-07-06 08:23] creativecreatorormaybenot commented on #122
Hi @pleasecallmelm, unfortunately my Chinese skills have degraded in the past years, so I cannot tell what exactly the issue is about. Thanks for opening it - can you rephrase it in English? 🙂

[2021-07-06 12:11] mklepaczko opened #123 "Unable to establish connection on channel"
Hi,

I'm getting this error when enabling wakelock:

/flutter ( 3917): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: PlatformException(channel-error, Unable to establish connection on channel., null, null)
E/flutter ( 3917): #0      WakelockApi.toggle
package:wakelock_platform_interface/messages.dart:57
E/flutter ( 3917): <asynchronous suspension>
E/flutter ( 3917): #1      Met

[2021-07-06 12:26] creativecreatorormaybenot commented on #123
@mklepaczko Thanks for reporting the issue - which platform are you running on?

[2021-07-06 13:44] mklepaczko commented on #123
Android

[2021-07-06 16:39] creativecreatorormaybenot commented on #123
@mklepaczko Do you have any custom Android setup related to method channels? :)

[2021-07-07 09:27] mklepaczko commented on #123
The only thing I changed lately was to implement FlutterFragmentActivity, perchaps this caused the issue. Here is my MainActivity.kt

`
package xxx

import androidx.annotation.NonNull;
import io.flutter.embedding.android.FlutterFragmentActivity
import io.flutter.embedding.engine.FlutterEngine
import io.flutter.plugins.GeneratedPluginRegistrant

class MainActivity: FlutterFragmentActivity() {
    o

[2021-07-07 09:37] mklepaczko commented on #123
To be honest I hardly know what it is apart from being used to write native code which I don't have in my app. WakeLock only works on one screen screen of my app and unfortunately I did not test that after each update so I can't remember any code change from which the bug started.

[2021-07-07 11:54] creativecreatorormaybenot commented on #123
@mklepaczko Can you try to create a new project with a minimal reproducible sample?

[2021-07-09 17:26] davidgtu commented on #123
I'm also receiving this error on Android. I've even added these into my `AndroidManifest`

[code]

[2021-07-09 19:42] creativecreatorormaybenot commented on #123
@davidgtu Thanks - no permission or manifest adjustments are necessary for using this plugin.

When did this error start occurring?

[2021-07-14 11:22] mklepaczko commented on #123
Found 2 other plugins with same problem on this project, therefore the problems is outside of Wakelock. Sorry about that, thanks @creativecreatorormaybenot for your quick reply.

[2021-07-14 11:22] #123 closed

[2021-07-17 01:47] mklepaczko commented on #123
Hi @creativecreatorormaybenot , after 3 days of digging and loosing time I found the problem: flutter_barcode_scanner plugin caused the problem. As soon as you put it in your dependencies it causes the problem with Wakelock and also with imagePicker, with others maybe aswell.

[2021-07-17 02:14] creativecreatorormaybenot commented on #123
Thanks for updating me @mklepaczko 🙏

So there is something in `flutter_barcode_scanner` that messes with the method channels? In that case, you should probably open a bug there to address this issue.

[2021-07-17 08:19] mklepaczko commented on #123
Yes that's correct, sorry I forgot to paste the issue link: https://github.com/AmolGangadhare/flutter_barcode_scanner/issues/217

[2021-07-22 04:43] ys27 opened #126 "Turns off once a day around the same time"
I am using this in my Flutter project and running the app on Android.

I recently updated the versions on Dart (2.8.4) and Flutter (2.2.3) and kept the wakelock version to ^0.1.4+1, which was working perfectly before. After the updates to Dart and Flutter, I noticed that the screen was turning off once a day, between 7-8pm EST. So I updated the wakelock version to ^0.5.2, but it still turns off ar

[2021-07-22 08:28] creativecreatorormaybenot commented on #126
Hi @ys27, thanks for using the plugin :)

Can you rephrase what your use case is, if you can provide a sample, etc.? It confuses me that you seem to have the app running 24/7.

[2021-07-22 09:16] ys27 commented on #126
Hello,

I am using it in a clock application, jsut something I have running on my unused tablet.

Here is a link to the repo: https://github.com/ys27/AlwaysOnClock. It is being used in lib/pages/clockPage.dart

[2021-07-22 11:01] creativecreatorormaybenot commented on #126
@ys27 Okay, that is an interesting use case 😅

I would assume this is some internal system feature that causes this. My suggestion would be for you to try to do the following:

* Call `Wakelock.enable()` every minute / every hour / whatever suits you best
* In your case, this can likely be combined with the clock updating logic 👍
* Let me know if this solves the problem for you 👌

The plugin imple

[2021-07-22 14:41] ys27 commented on #126
Thanks for the solid lead, I made the change and I'll report back on what happens tonight!

[2021-07-22 19:24] creativecreatorormaybenot commented on #126
@ys27 thanks! 🚀

[2021-07-23 02:33] ys27 commented on #126
I think that worked! I'll have to keep on eye on it for a few days to really make sure, but that prob was it. Thanks for the quick solution and for the plugin!!

[2021-07-23 02:33] #126 closed

[2021-07-27 15:54] gxzlolo opened #127 "flutter 2.2.3 version ,ios14.5 error"
Launching lib/main.dart on iPhone 8 in debug mode...
Xcode build done.                                           11.9s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **
Xcode's output:
↳
    /Users/charles/.pub-cache/hosted/pub.flutter-io.cn/wakelock-0.5.2/ios/Classes/messages.m:4:9: fatal error: 'Flutter/Flutter.h' file not found
    #import <Flutter/Flutter.h>

[2021-07-27 15:55] gxzlolo commented on #127
0.5.2 iOS

[2021-07-27 16:08] #122 closed

[2021-07-27 16:08] #121 closed

[2021-07-27 16:09] creativecreatorormaybenot commented on #127
Duplicate of https://github.com/creativecreatorormaybenot/wakelock/issues/95.

[2021-07-27 16:09] #127 closed

[2021-07-30 22:43] grahamsmith opened #128 "Remove JCenter from Android dependencies"
With JCenter sunsetting Flutter libraries are updating away from JCenter.

Looking at the build.gradle it looks like the `google()` on its own might be sufficient. Proposal is to simply remove `jcenter()` from the build.gradle within the Android folder in the lib.

[2021-08-04 04:14] creativecreatorormaybenot commented on #128
@grahamsmith thanks! I agree. I think it makes sense to update the plugin to match the latest templates :)

[2021-08-04 08:06] grahamsmith commented on #128
It's a super useful package, one of the first I used. Thanks for taking the time.

I'll handle Jcenter if you want as it's good to give back.

[2021-08-04 19:06] #128 closed

[2021-08-04 21:30] creativecreatorormaybenot opened #131 "Missing Android integration tests"
The regression in #130 made me realize that the missing integration tests for Android are a problem.

If I recall correctly, I did not manage to add them (easily) initially because I did not get the emulator to run in Actions. However, this would be very beneficial to add.

[2021-08-23 14:32] bksubhuti opened #132 "Debug causes assertion fail in Linux (when not using)"
Summary:  Linux is not supported.  However, conditions cannot be made that "skips over" wakelock code if the package is included.

Please see this issue here:
https://github.com/Baseflow/flutter-geolocator/issues/818

I commented out the code falls on (dispose) and still problems.  Therefore there is no code being called.
It seems that importing the package header will cause a debug assert at the

[2021-08-23 20:16] creativecreatorormaybenot commented on #132
Hi @bksubhuti, the plugin is indeed not supported on Linux.

You have two options:
1. Contribute Linux support

2. Do not call wakelock code on Linux (`kIsWeb || !Platform.isLinux`).

[2021-09-06 08:49] stephane-couget opened #135 "classpath version 1.3, which is older than the API version 1.5"
Hello everybody,

Since this morning, it seems that I have to use kotlin in its version 1.5.30 instead of 1.5.21, according to gradle who returns me this:

`[        ] > Task :wakelock:generateDebugBuildConfig UP-TO-DATE
[+1163 ms] > Task :wakelock:compileDebugKotlin FAILED
[   +1 ms] w: Runtime JAR files in the classpath have the version 1.3, which is older than the API version 1.5. Consider usin

[2021-09-06 08:50] creativecreatorormaybenot commented on #135
Hi @stephane-couget :) Why do you have to use the newer version?

[2021-09-06 11:23] stephane-couget commented on #135
The twenty or so other plugins I use require 1.5 according to gradle so I had to downgrade from 1.3 to 1.5. I am the wave to pass the debugging compilation.
All summer I was faced with this kind of problem, for practically all the plugins, some took advantage of the transition to null safe to do so. But maybe it's not useful, that we could customize by plugin. But I do not know how.

Not all plugi

[2021-09-06 11:36] creativecreatorormaybenot commented on #135
@stephane-couget I am pretty sure `wakelock` just uses the official Flutter plugin template, so it should be the same as all the other plugins. Can you point me to where in the code this is?

[2021-09-09 18:50] ndahlquist opened #136 "Build failure with Flutter 2.5.0"
version: "0.5.3+3"

After upgrading to the new Flutter stable release v2.5.0, I am getting the following error:

[code]

Confirmed that this error does not occur on Flutter v2.2.3.

I also tried `flutter clean` and `flutter pub upgrade --major-versions`, but this did not resolve the issue.

I believe this should be fixed via the migration guide here: https://flutter.dev/docs/release/breaking-chang

[2021-09-10 06:21] #136 closed

[2021-09-10 07:47] ndahlquist commented on #136
Thanks @creativecreatorormaybenot! 🙏

[2021-09-10 08:59] PerLycke opened #140 "0.5.4 - crashes on launch on iOS"
Previous versions worked fine but 0.5.4 crashes on launch on iOS with the following error shown in Xcode:

[code]

[2021-09-10 09:48] doubletcjs commented on #140
+1

[2021-09-10 10:24] creativecreatorormaybenot commented on #140
Please use:

[code]

For the moment.

[2021-09-10 10:37] jinliyuelong commented on #140
+1

[2021-09-10 11:58] gilescm commented on #140
I've just experienced this issue on `0.5.3+3` I've also tried `0.5.3` and `0.5.2` and no luck (didn't try +2 and +1 of 0.5.3 since the changelog only references android changes)

iOS Version 14.7.1

[code]

[2021-09-10 12:08] creativecreatorormaybenot commented on #140
@gilescm That is not possible - version `0.5.3+3` did not have this assertion yet (see https://github.com/flutter/flutter/issues/89838). You might need to clean the cache in that case.

Note that you need to **specifically** point to `wakelock: 0.5.3+3` (**without** the caret `^`). And then run `pub get` again.

[2021-09-10 12:16] jinliyuelong commented on #140
Please release a version as soon as possible, because I use chewie1.2.2, it is using ^0.5.2, I do not want to use dependency_overrides to solve, need to change the corresponding library, too much

[2021-09-10 12:22] stuartmorgan commented on #140
https://github.com/creativecreatorormaybenot/wakelock/blob/main/wakelock/ios/Classes/WakelockPlugin.m#L20
And
https://github.com/creativecreatorormaybenot/wakelock/blob/main/wakelock/ios/Classes/WakelockPlugin.m#L30
Need to be updated so that the signatures match the new version of the generated protocol:
https://github.com/creativecreatorormaybenot/wakelock/blob/main/wakelock/ios/Classes/messages

[2021-09-10 12:24] gilescm commented on #140
@creativecreatorormaybenot That worked thanks! Sorry I should've realised! 😓

[2021-09-10 12:50] creativecreatorormaybenot commented on #140
@jinliyuelong

You can do it like this for the moment:

[code]

[2021-09-10 12:53] creativecreatorormaybenot commented on #140
(but I am working on fixing this - thanks @stuartmorgan)

[2021-09-10 15:15] darmie commented on #140
@creativecreatorormaybenot how do I clear cache? I have tried `flutter clean` and deleted pod files and build folders manually

[2021-09-10 15:33] creativecreatorormaybenot commented on #140
@darmie Just use exactly this:

[code]
**without** a caret `^` and run `pub get` :v:

[2021-09-10 15:51] darmie commented on #140
@creativecreatorormaybenot I was just about to delete the comment, the new culprit is firebase. Thanks for the quick response.

[2021-09-10 22:10] kirimi commented on #140
With wakelock: **0.5.3+3** and  flutter **2.5.0**  crashes with

*** Assertion failure in -[FlutterStandardReader readValueOfType:], FlutterStandardCodec.mm:474
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Corrupted standard message'

[2021-09-11 02:22] rickcasson commented on #140
In addition to specifying
[code]

we also added
[code]

and it seems to work on our iOS builds again

[2021-09-11 19:43] scroft13 commented on #140
This last line saved me. It was causing issues with my video calling dependency. I was banging my head against the wall trying to figure out why my video calling wasn't working now. Adding the first line fixed the initial crash, but adding the second line resolved my other issues.

A truly heart-felt thank you good sir!

[2021-09-11 21:12] stuartmorgan commented on #140
This error is because Pigeon 1.0 uses a different codec (as noted in the changelog), which means that with the method channel in a different package from the native implementations using it, updating Pigeon in the platform interface was actually a breaking change. Having one side of a platform channel using Pigeon 0.2 and the other side using Pigeon 1.0 will not work at all.

Because the `wakelock

[2021-09-11 22:52] smyer commented on #140
In two days we have a live premiere in theater with 80 Persons and the app suddenly doesnt work anymore. After 5 hours of being absolutely helpless, YOU SAVED MY LIVE!!!

1000 thanks

[2021-09-12 15:49] lekhanhtoan37 commented on #140
Flutter 2.0.2, wakelock: 0.5.2
I met the same crash

[2021-09-13 06:03] MrCsabaToth opened #141 "Wakelock 0.5.4 might not work on Android?"
I recently upgraded to Flutter 2.5 stable. I use Wakelock only on a specific screen of my app where it is necessary. At the beginning of `initState` I call `Wakelock.enable()` (without await since the `initState` is not async) and in `dispose` (which is similarly not async) I call `Wakelock.disable()`. This worked beofre but for some reaosn it does not work now and the phone (OnePlus Nord, Android

[2021-09-13 06:52] Mocaris commented on #140
Me too, but it works on 0.5.3+3

[2021-09-13 08:20] bailyzheng commented on #141
I got the same problem

[2021-09-13 16:45] MrCsabaToth commented on #141
Thanks for the feedback, so I'm not the only one. What phone, what Android version. I wonder if it is specific to certain versions or some criteria otherwise people would be more vocal (I assume). Are you also using the lock on a specific screen or throughout the whole app? Wakelock not working basically makes the package useless.

[2021-09-13 16:47] vlowe85 commented on #140
im on 0.5.3+3 and it launches ok, but it crashes as soon as i call `Wakelock.enable()` or `Wakelock.disable()`

[2021-09-13 16:51] vlowe85 commented on #140
same

[2021-09-13 17:20] kirimi commented on #140
This combination works:

dependencies:
  wakelock: 0.5.3+3
dev_dependencies:
  wakelock_platform_interface: 0.2.1+2

[2021-09-13 23:35] JAICHANGPARK opened #142 "Unhandled Exception: PlatformException(ClassCastException, java.lang.ClassCastException: java.util.HashMap cannot be cast to java.util.ArrayList, null, null)"
I have some problem version 0.5.4

[code]

[2021-09-14 00:36] creativecreatorormaybenot commented on #141
hi @MrCsabaToth - thanks a lot for opening the issue!

What version of wakelock are you using? (either the `pubspec.lock` entry or `flutter pub deps` works)

I might have screwed up `wakelock: 0.5.4` on Android in the same way I screwed it up on iOS (see #140). I will definitely address the other issue, but I am not sure if this is related.

I can definitely confirm that `0.5.3` is working on Andr

[2021-09-14 01:03] #140 closed

[2021-09-14 01:04] creativecreatorormaybenot commented on #140
**@everyone**: this should be fixed in `wakelock: 0.5.5` 🚀🤘

Let me know if it works again for you - and sorry for this, 1000 ❤️

[2021-09-14 01:05] creativecreatorormaybenot commented on #135
Will close this for now since there is no issue to my knowledge.

[2021-09-14 01:05] #135 closed

[2021-09-14 01:06] creativecreatorormaybenot commented on #132
Closing as duplicate of #97.

[2021-09-14 01:06] #132 closed

[2021-09-14 01:07] creativecreatorormaybenot commented on #117
I will close this for now since this is either not actually an issue, not confirmed to be not working yet, or a compatibility issue that cannot be resolved from the plugin-side.

Might need to open a new issue once browser compatibility advances.

[2021-09-14 01:07] #117 closed

[2021-09-14 01:13] #142 closed

[2021-09-14 01:52] hsandyque commented on #140
@creativecreatorormaybenot  pub get failed  " on wakelock 0.5.6 which doesn't match any versions, version solving failed."
pub get failed

[2021-09-14 01:58] creativecreatorormaybenot commented on #140
@hsandyque give it 5min, CD is still publishing `0.5.6` 🚀 I will repost the other comment, so that it is at the bottom :v:

[2021-09-14 02:09] creativecreatorormaybenot commented on #140
**@everyone**: this should be fixed in `wakelock: 0.5.6` 🚀🤘

Let me know if it works again for you - and sorry for this, 1000 ❤️
This definitely cannot happen again.

[2021-09-14 04:37] MrCsabaToth commented on #141
I upgraded to 0.5.4 recently. Time to time I do a "Pub outdated" and update my pubspec.yaml because I have every package pinned. I haven't really debugged into this issue, let me know how can I help, what can I watch out for.

[2021-09-14 05:42] nohli commented on #140
@creativecreatorormaybenot 0.5.6 works for me 🙂
Thanks for the fix! ❤️

[2021-09-14 08:48] mathiuleo commented on #140
@creativecreatorormaybenot Thank you. Much appreciated.

[2021-09-14 09:29] creativecreatorormaybenot commented on #141
@MrCsabaToth If you use `0.5.6`, I am confident it works. The only way to move forward here would be to identify particular devices / Android versions where it does not work and a reproducible sample.

The general advice I give is: calling `Wakelock.enable()` more often is safe, i.e. it might be the wakelock is released somehow and if you reactivate it at every point you know it should be active,

[2021-09-15 00:11] MrCsabaToth commented on #141
I see 0.5.6 is a recent release. I'll try to test it soon

[2021-09-15 04:54] MrCsabaToth commented on #141
Good news: I tested 0.5.6 and the wakelock works with that version! I wonder if @bailyzheng has the same experience.

[2021-09-15 09:40] creativecreatorormaybenot commented on #141
Thanks @MrCsabaToth 👌

I will close this issue for now - @bailyzheng feel free to ping me if you are experiencing the issue still.

[2021-09-15 09:40] #141 closed

[2021-09-23 08:29] Universi commented on #123
Hi,

I get the same issue, but I doesn't use `flutter_barcode_scanner`.

[code]

[2021-09-23 10:21] creativecreatorormaybenot commented on #123
@Universi can you create a reproducible sample of this without including any other dependencies?

[2021-09-23 14:13] q200892907 opened #150 "0.5.6 Failed to build flutter 2.2+ android"
0.5.6 Failed to build flutter 2.2+ android

[2021-09-24 03:02] #150 closed

[2021-10-23 09:27] victorkifer opened #151 "ANR Broadcast of Intent { act=android.intent.action.SCREEN_OFF flg=0x50200010 (has extras) }"
After adding wakelock in one of the screens in my app I started seeing ANR reports in Play Console.

[code]

It doesn't seem to be specific to any particular model or manufacturer. However, all the reports I got are from Android 10. My target SDK is 30.

It might be related to https://stackoverflow.com/a/63956354

[2021-12-01 15:40] LiangLuDev commented on #95
thanks . Solved using this solution

[2021-12-04 18:47] osoftware opened #153 "Wakekolck 0.5.6 not working for some users"
Hi!

I'm struggling with finding out why some of the users of my app started reporting that keeping the screen on stopped working after last upgrade. I migrated my legacy native android app which was using FLAG_KEEP_SCREEN_ON to a Flutter based solution using your package (which also just uses FLAG_KEEP_SCREEN_ON, right?). I also bumped compileSdkVersion and targetSdkVersion to 30.

This is an iss

[2021-12-05 00:22] creativecreatorormaybenot commented on #153
Hi @osoftware - thanks for reporting the issue :)

I am not sure how you can find it out easily.

I have two suggestions:
1. Try to call `Wakelock.enable()` more often; maybe the wakelock is released by some external factor?
2. Check in the code if you can find anything that looks off / could be causing this: https://github.com/creativecreatorormaybenot/wakelock/blob/0a6e8c53125847db31a0494a1662c1

[2021-12-09 21:16] osoftware commented on #153
Ok, I've found a reason.

So I was calling `Wakelock.enable()` in `initState` and `Wakelock.disable()` in `dispose` in my page widget. This works fine as long as I navigate between pages with wakelock using `Navigator.push` (as the previous page is not disposed) or leaving them using `Navigator.pop` (as the `dispose` is called as intended). The problem is, when I navigate from a page with wakelock

[2021-12-09 21:16] #153 closed

[2021-12-12 19:39] saibotma opened #154 "Overrides idleTimerDisabled setting of other iOS plugins"
Steps to reproduce:
- Download the example app of https://pub.dev/packages/jitsi_meet_wrapper
- Add `wakelock` (0.5.6) as a dependency
- Set device auto lock time to a minimum
- Launch a Jitsi Meeting and wait some minutes
- Screen will dim

Does not happen when `wakelock` dependency is removed.

[2021-12-12 23:55] creativecreatorormaybenot commented on #154
Hi @saibotma, thanks for reporting this issue!

I assume this is because of: https://github.com/creativecreatorormaybenot/wakelock/blob/0a6e8c53125847db31a0494a1662c1bcf719fba8/wakelock/ios/Classes/WakelockPlugin.m#L17

Which triggers: https://github.com/creativecreatorormaybenot/wakelock/blob/0a6e8c53125847db31a0494a1662c1bcf719fba8/wakelock/ios/Classes/IdleTimerDisabledObserver.m#L24

Do you hav

[2021-12-13 21:12] saibotma commented on #154
It seems like you are enabling the timer when you want to disable it, don't you?

[2021-12-14 03:04] suyaolingoace opened #155 "Infinite loop ,crashed on iOS"
If someone change 'UIApplication.sharedApplication.idleTimerDisabled = YES', the wakelock will crash.

First, wakelock had add **Observer** at registerWithRegistrar:
![Screen Shot 2021-12-14 at 10 45 01 AM](https://user-images.githubusercontent.com/88423647/145924376-b30b77cf-90b0-4d11-89d5-cfb61fa9f8bb.png)

Then, if some set 'UIApplication.sharedApplication.idleTimerDisabled = YES' and self.enab

[2021-12-14 16:07] creativecreatorormaybenot commented on #155
Hi, thanks for reporing this issue! This seems related to #154 - do you know what causes this? Would you be able to contribute a fix?

[2021-12-14 16:07] creativecreatorormaybenot commented on #154
@saibotma I am not sure - I am fairly confident the current logic works correctly for the plugin.

[2021-12-17 11:50] suyaolingoace commented on #155
Have fixed at PR  [#156](https://github.com/creativecreatorormaybenot/wakelock/pull/156#issue-1083181050)

[2021-12-20 15:11] creativecreatorormaybenot opened #157 "Broken CI pipeline"
The CI pipeline is broken for two reasons:

1. There is no (maintained) `dev` channel for Flutter anymore, but the CI still runs on that channel.
2. Integration tests seem to not be running on iOS as the command used to fetch devices is no longer working. See https://github.com/creativecreatorormaybenot/wakelock/runs/4582992283?check_suite_focus=true.

[2021-12-23 09:12] L0LIC0N opened #158 "Wakelock cannot be enabled programmatically on mobile browsers"
#### Describe the bug
I want to enable wakelock only for specific page of my app. To achieve this, I call `Wakelock.enable()` in the `initState` and `Wakelock.disable()` in `dispose`. It seems to work perfectly fine on android and iOS versions and Web PC too. But on mobile browsers (ie chrome on Android and Safari on iOS) it  doesn't work, it throw me an `NotAllowedError`. Since the `wakelock_web`

[2022-01-01 09:39] rohitvishwakarma1819 opened #160 "`Wakelock.enable()` does not work on Android"
I just created a bank flutter application and added
`  Wakelock.enable();` as the first line inside main() method.
I doesn't prevent my app from going to sleep.

[2022-01-01 14:13] creativecreatorormaybenot commented on #160
Hi, thanks for using the package! Without further detail, it will be impossible to help you here. The package does work for most users after all.

Which phone are you using?

[2022-01-01 15:25] rohitvishwakarma1819 commented on #160
@creativecreatorormaybenot I'm using moto G40 fusion (arm-64) with Anfroid-11

[2022-01-02 14:17] creativecreatorormaybenot commented on #160
@rohitvishwakarma1819 I do not have this device here to test. Can you test on a different device and confirm that the wakelock is working, i.e. that you are using it properly?

[2022-01-04 16:53] Stemo688 opened #161 "`Wakelock.enable()` changes system Ui overlay style on Android"
Calling Wakelock.enable changes system Ui overlay style to the one default of the system. In particularly, this changes the status bar icon brightness.
This was tested on Android. Simply call Wakelock.enable after [setSystemUIOverlayStyle](https://api.flutter.dev/flutter/services/SystemChrome/setSystemUIOverlayStyle.html) with a different status bar icon brightness from the one of the system.

I s

[2022-01-09 18:42] itssidhere commented on #160
Same. Doesn't work with Android 11

[2022-01-09 20:54] creativecreatorormaybenot commented on #160
@itssidhere hi - thanks for reporting. I have the same request for you, i.e. sharing how you are using it / testing with different devices for reproduction :v:

[2022-01-10 10:13] paj-co opened #162 "Kotlin / Gradle version issue"
When run my Flutter app in release mode I got this error:
[code]

I needed to change Kotlin and Gradle versions to use qr_code_scanner plugin:
https://pub.dev/packages/qr_code_scanner#android-integration

When I remove wakelock plugin from my project, error also disappears.

Is there any solution to fix / avoid this error / warning?

I have also found, that from Flutter 2.9, the minimal Kotlin ver

[2022-01-10 18:34] itssidhere commented on #160
@creativecreatorormaybenot seems like it's the issue with latest flutter version 2.9 can't be sure though I am using poco X3 Pro and yes it doesn't work on any of my devices

[2022-01-11 02:51] #162 closed

[2022-01-11 03:33] creativecreatorormaybenot commented on #160
@itssidhere I checked again on my devices and I cannot reproduce.

Without further input, I cannot help you here - unfortuantely. You will at least have to either debug the issue yourself and figure out where it comes from or post a reproducible sample. My advice would be to use the example app for testing this.

[2022-01-11 10:38] paj-co commented on #162
With version 0.6.0+1 no more error! Thx!

[2022-01-11 11:02] paj-co commented on #160
I have tested wakelock on Samsung A21s with Android 11. I'm using Flutter 2.8.1 stable, everything is working fine 👍

[2022-01-11 11:16] itssidhere commented on #160
@creativecreatorormaybenot I agree I might have to look in detail. I will do so and update you. Thanks.

[2022-01-11 12:23] creativecreatorormaybenot commented on #162
@paj-co Thanks for testing ! ❤️

[2022-01-11 14:21] troyredder commented on #161
This is similar to my issue, so I will just post within this issue.

My issue is the status bar text color is changing and it occurs with enable or disable calls.

Attached is simple program with the issue.
[main.dart.zip](https://github.com/creativecreatorormaybenot/wakelock/files/7847188/main.dart.zip)

I have also put in an [issue](https://github.com/flutter/flutter/issues/95973#issuecomment-10

[2022-01-11 14:38] creativecreatorormaybenot commented on #161
hi :) I am not sure why this happens exactly - the only call that happens is setting the wakelock flag natively. This will require further investigation.

[2022-01-19 07:24] #157 closed

[2022-01-19 10:02] #155 closed

[2022-01-19 10:13] creativecreatorormaybenot commented on #154
@saibotma Can you check if this is still an issue with the latest version (`0.6.1`)?

[2022-01-20 14:36] brent777 opened #167 "Version incompatibility issue when upgrading from wakelock version 0.5.6 to 0.6.1"
Hi,

When I try upgrade, I get the following:

[code]

Here is my output for flutter --version:

[code]

Please let me know if you need any more info. Thanks.

[2022-01-20 15:18] creativecreatorormaybenot commented on #167
Hi, thanks for opening the issue. Did you try to run `flutter clean` in your project?

If this is a common issue on `stable`, we might be able to catch this with #131.

[2022-01-20 20:03] brent777 commented on #167
Yes, I ran flutter clean and same issue.

[2022-01-20 21:01] creativecreatorormaybenot commented on #167
@brent777 Can you try running on the Flutter `beta` channel? I just want to know if that is the issue.

[2022-01-21 20:56] scognito commented on #160
Doens't work on my Android 11 Xiaomi 10 lite 5g.
Flutter version 2.8.1
Available for testing if you tell me how to do.

[2022-01-22 18:26] ChiatanyaChakka commented on #167
Is the error resolved? Thnx

[2022-01-23 19:28] BunnyTheLifeguard commented on #160
Same here, using a Moto G7 Plus, tho with Lineage OS 18.1 which is based on Android 11.

[code]

Also, just to make sure I did not use it incorrectly? 😅
[code]

[2022-01-23 23:11] creativecreatorormaybenot commented on #160
@BunnyTheLifeguard Can you try calling `Wakelock.enable` more often? As in make sure that it is not released during the app lifecycle?
You could even call it in `build` if you wanted to

[2022-01-24 18:38] BunnyTheLifeguard commented on #160
@creativecreatorormaybenot looks like calling it inside a build took care of it, device did not go to sleep so far.

[code]

Where would the most central/earliest opportunity be to call it, or does one have to call it inside every build? (Still learning the framework ^^)

[2022-01-25 08:28] creativecreatorormaybenot commented on #160
@BunnyTheLifeguard Calling it inside of `build` is mostly arbitrary. What I think might be the case is that either you are calling `Wakelock.disable()` somewhere or the wakelock is released by another source.

A third option that I see is the following:

[code]

**Will not work**. That is because the method channels have not yet been initialized.
You either have to call it **after** `runApp` or in

[2022-01-25 16:27] BunnyTheLifeguard commented on #160
@creativecreatorormaybenot Thanks for explaining, brother 🙂
Intersting, I have to read more about the `WidgetsFlutterBinding.ensureInitialized();` 👀

Just as an fyi: I did not call anything besides `Wakelock.enable();` so you can rule out option 1. WL being released by another source I can't tell since I'm not experienced enough overall with flutter yet. I was using it during/in a simple tutorial

[2022-01-25 17:17] pdivita commented on #160
Worked for me, I suggest to add in the README.
BTW I'm using version 0.5.6 because of this [issue](https://github.com/creativecreatorormaybenot/wakelock/issues/167).

[2022-01-25 17:43] creativecreatorormaybenot commented on #160
That is great to hear @pdivita! Which fix are you referring to?

[2022-01-25 21:19] BunnyTheLifeguard commented on #160
In my case in a new project both worked.
Tho I had to upgrade Kotlin version in build.gradle, since it is only created with 1.3.50.

[2022-01-26 13:31] pdivita commented on #160
Wakelock started working after I've added `WidgetsFlutterBinding.ensureInitialized();` before the call.

[2022-01-26 18:56] #160 closed

[2022-01-26 19:11] creativecreatorormaybenot commented on #154
I will close this for now since the code has been completely reworked. This might still be an issue. In that case, I will be glad to reopen it :v:

[2022-01-26 19:11] #154 closed

[2022-01-26 19:12] creativecreatorormaybenot commented on #151
I will close this for now as this does not seem to be reproducible. If you have more information, I will be glad to reopen the issue :v:

[2022-01-26 19:12] #151 closed

[2022-01-28 10:41] scognito commented on #167
This is related to an unmatched kotlin version (with the side effect you may change also gradle plugin).
I fixed by changing my project `android\build.gradle`, upgrading Kotlin version:
`ext.kotlin_version = '1.5.31'`

and setting in `android\gradle\wrapper\gradle-wrapper.properties` :
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.7-all.zip`

After a `flutter clean` everythi

[2022-02-04 11:42] creativecreatorormaybenot commented on #167
The minimum Kotlin version required by Flutter has been changed to `1.5.31` : https://docs.flutter.dev/release/breaking-changes/kotlin-version

[2022-02-04 11:42] #167 closed

[2022-02-07 09:24] fehernyul opened #169 "wrong Kotlin version?"
\.pub-cache\hosted\pub.dartlang.org\wakelock-0.6.1]()+1\android\src\main\kotlin\creativemaybeno\wakelock\Wakelock.kt: (23, 5): Class 'kotlin.Unit' was compiled with an incompatible version of Kotlin. The binary version of its metadata is **1.5.1**, expected version is **1.1.15.**

[2022-02-07 10:38] creativecreatorormaybenot commented on #169
Duplicate of #162

[2022-02-07 10:38] #169 closed

[2022-04-15 12:36] danielefolatelli opened #172 "iOS Wakelock does not avoid dimming screen"
Hi, mi app is a game where players have to think for a while. So sometimes they are meditating and not interacting at all. I only have timers running at the time. I added the wakelock.enabled command after installing the plugin but I see that the screen dims and then closes according to the time set in the AutoLock field in Display and Brightness for the iOS device.
Is it not the plugins mission t

[2022-04-17 19:14] creativecreatorormaybenot commented on #172
Hi @danielefolatelli - thanks for using the plugin. Did you follow the advice from the README? (https://github.com/creativecreatorormaybenot/wakelock/blob/main/wakelock/README.md#calling-wakelockenable-in-main)

not the best approach for a number of reasons.

   It is unlikely that your whole app requires the screen to always stay on.

   Only calling `Wakelock.enable()` once will most likely mean

[2022-04-17 21:29] danielefolatelli commented on #172
Hi, thanks for your reply. Yes I followed this advice I call wakelock.enable outside of main.

Daniele Folatelli
Creator and Developer Time To Count

[2022-04-17 22:34] creativecreatorormaybenot commented on #172
@danielefolatelli Can you call `await Wakelock.enabled` at the time the screen starts to dim?

[2022-05-01 16:56] Plantake commented on #161
Yeah. I can confirm this. I called Wakelock.enalble() then it changes status bar icon brightness to Brightness.light and i have noticed this only occurs in android 11. This is a major problem.

[2022-05-16 12:37] Bill550 opened #173 "wakelock not initiating when device is in sleep mode and notification came."

[2022-05-27 19:21] alexagat opened #176 "Web - TypeError: Cannot read properties of undefined (reading 'toggle')"
Calling `Wakelock.enable()` within the `main` function throws a `TypeError` when running against web.

[code]

[code]

This was replicated in a new project with only the addition of the Wakelock package.

<details>
<summary>App Code That Replicates Issue</summary>

[code]

[code]

</details>

<details>
<summary>Flutter Doctor Output</summary>

[✓] Flutter (Channel unknown, 3.0.1, on macOS 11.6.5 2

[2022-05-27 19:24] alexagat commented on #176
It seems to be a timing issue with the app and JS libraries being available , since a call to `enable()` after a 500ms+ delay  does not cause the error.

[code]

[2022-05-30 13:45] LukasEdl opened #177 "Cast error on iOS 15.4.1"
Hi together,

when i try to read the `Wackelock.enable` attribute, an cast error is being thrown.
`
print(await Wakelock.enabled);
`
results in the error
`flutter: 2022-05-30T15:30:39.243665 - [ERROR] type '_InternalLinkedHashMap<Object?, Object?>' is not a subtype of type 'IsEnabledMessage?' in type cast, stacktrace: #0      WakelockApi.isEnabled (package:wakelock_platform_interface/messages.dart

[2022-05-31 07:52] LukasEdl commented on #177
Ok, i updated the package to version 0.5.6 and it is working now. I gonna close the issue

[2022-05-31 07:52] #177 closed

[2022-06-10 17:36] kelvie commented on #176
I'm also seeing this, thanks for the workaround @alexagat .

[2022-06-10 17:37] kelvie commented on #176
I'm guessing it's related to https://github.com/creativecreatorormaybenot/wakelock/pull/171

[2022-06-16 06:04] Holofox commented on #161
On Flutter 3.0.1, the problem is more relevant than ever.

[2022-06-18 22:03] creativecreatorormaybenot commented on #161
@Holofox @Plantake Any chance you can take a look into the native calls and check if this also happens when you manually execute the code natively?

It might be that the way the flag is handled changed with the newer version of Android, but I do not see exactly how I would fix it right now.

[2022-07-02 16:14] jaca420 opened #178 "Getting an unhandled exception when calling Wakelock.enable()"
So I have a method that enables location tracking and I want `Wakelock` to be enabled just when this is on. When the user turns it off I call `Wakelock.disable()`. On each of these calls the exception is thrown.

[code]

[code]

[code]

[2022-07-26 08:10] LeeNgocTus commented on #121
I have the same problem like this on IOS, on android no problem. I have a switch to set to allow the screen to stay on all the time and turn it off. When the switch state is ON, I call the function Wakelock.enable to keep the screen always on on my app. When the Switch state is OFF, I call the Wakelock.disable function to turn the function off. But the problem is that when I switch my Switch state

[2022-08-01 01:17] creativecreatorormaybenot commented on #178
Hi - I think the platform channels are properly configured and cannot reproduce this issue.

Could you make sure that you are running the latest stable build of Flutter with the latest version of the plugin and that you have executed `flutter clean` before building your app? If the issue still persists, I am glad to reopen this issue.

[2022-08-01 01:17] #178 closed

[2022-08-01 01:19] creativecreatorormaybenot commented on #158
Hi - this is not really a limitation of the plugin but rather a security limitation of web browsers. As you stated, if the[ Screen Wake Lock API](https://developer.mozilla.org/en-US/docs/Web/API/Screen_Wake_Lock_API) is available, this is not an issue.

[2022-08-01 01:19] #158 closed

[2022-08-01 01:20] creativecreatorormaybenot commented on #173
Hi - thanks for using the plugin. Unfortunately, this issue is not helpful without a description. Feel free to open a new issue that properly explains the issue you are facing with a reproducible sample.

[2022-08-01 01:20] #173 closed

[2022-09-04 05:40] jbj88817 opened #179 "Message corrupted, Failed to handle message"
Got the below issue, I'm on flutter 3.3.0:

[code]

[2022-09-06 02:24] LinHaoLove opened #180 "win32 ^2.0.0, version solving failed"
Hi,Sir,
Good morning，
In my project, I use both ”wakelock“ and "bitsdojo_window". This operation will cause "win32" library dependency conflicts. I use to change the version number to "any", which can solve the conflict. But the dependent version is a little old. So, thank you very much for inviting you to upgrade the plug-in dependency.

[2022-09-06 13:38] itamardo opened #181 "iOS build issue when changing to flutter 3.3.0"
Hi.
I'm use codemagic to build for iOS and when using flutter 3.3.0 I get the following error:
[code]

[2022-09-07 00:34] LinHaoLove commented on #180
Mac OS 12.5.1 （Mac mini m1）
Flutter SDK arm64 3.3.0

[2022-09-07 07:52] creativecreatorormaybenot commented on #181
Hi, thanks for opening the issue. Do you mind opening a PR to bump the dependency?

[2022-09-08 05:54] itamardo commented on #181
Sure. Followed the guidelines here about opening a PR and changed only the pubspec and the changelog. Hope it's what you meant

[2022-09-08 12:27] creativecreatorormaybenot commented on #180
Hi, thanks for opening the issue! Do you mind opening a PR to bump the version?

[2022-09-08 12:29] creativecreatorormaybenot commented on #181
I realized I commented on a different issue than I thought. After having read through your logs again now, I am not sure what causes the issue exactly.

It looks like the minimum deployment target of your iOS app is too low. In that case, no change of the plugin would be required and instead you need to adjust that in your app.

[2022-09-08 13:16] LinHaoLove commented on #180
oh,I still have a lot of bad tasks to complete.
but i will leave a message when I find a problem.

[2022-09-08 14:24] itamardo commented on #181
ok, thanks
what should that new minimum be?

[2022-09-09 07:39] miracoli commented on #179
Same issue here. I'm on Flutter 3.0.5. Does not happen after downgrading to 0.6.1+2.

[2022-09-10 08:15] itamardo commented on #181
update: apparently 11 is enough

[2022-09-10 08:16] #181 closed

[2022-09-13 04:01] #180 closed

[2022-09-14 09:56] marianhlavac commented on #179
**Confirmed @miracoli 's solution as working.**

Still, I added the package few days ago using the `flutter pub add wakelock` command and it automatically assumed the version 0.4.0, therefore something is still wrong.

[2022-09-14 10:34] miracoli commented on #179
Yesterday a new version of [wakelock_windows](https://github.com/creativecreatorormaybenot/wakelock/releases/tag/wakelock_windows-v0.2.1) was released. That should fix this issue (at least it did for me). Could you run `flutter pub upgrade` and check if the correct version gets pulled?

[2022-10-25 14:48] icnahom commented on #30
Considering how difficult this subject is, I think it's a big mistake to name it 'wakelock'. I hope something could be done with this issue. It was very misleading for me.

[2022-11-24 10:25] mohamedMesalm opened #184 "migrated to the Android embedding v2"
This app is using a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to migrate this app to the V2 embedding.
Take a look at the docs for migrating an app: https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects
The plugin `wakelock` requires your app to be migrated to the Android embedding v2. Follow the steps on

[2022-11-24 11:39] creativecreatorormaybenot commented on #184
Hi, thanks for reporting the issue. If you read the error message carefully, your app has to be migrated to the new embedding and not the plugin.

Simply follow the guides referred to in the error message.

[2022-11-24 11:39] #184 closed

[2022-11-28 09:43] EinatK opened #185 "Can't disable wake lock on iOS"
Works fine on android, but on iOS both Wakelock.disable() and Wakelock.toggle(enable: false) are called without any error, but screen stays on forever.
No error or exception thrown, The code was called, but nothing happened..
As soon as I let the app the screen dimmed as expected.
Tested on real device, iPhone 11, iOS 15.4.1

Super simple code: (Tried with and without awaiting, no change)

` Eleva